.main-header {
  margin-block-end: rem(36px);
  background-color: #96f2d7;
  padding: rem(25px);

  .header-logo {
    width: rem(70px);
    height: rem(32px);
    justify-items: center;
  }

  a {
    color: $dark-color2;
    font-weight: 500;
    cursor: pointer;
  }

  .main-header-nav {
    width: rem(250px);
  }
}
