.header-container {
    position: absolute;
    width: 100vw;
    background-color: white;
    padding: rem(5px) rem(24px);
    height: rem(72px);
    .header-logo {
        width: rem(70px);
        height: rem(32px);
    }
}