.main-header {
    margin-block-end: rem(36px);
    background-color: $light-color3;
    padding: rem(25px);

    .header-logo {
        width: rem(70px);
        height: rem(32px);
        justify-items: center;
    }

    a {
        color: #333;
    }

    .main-header-nav {
        width: rem(250px);
    }

}