.dashboard-wrapper {
  height: 100vh;
  grid-template-rows: 83px 1fr;



  .main-header {

    .header__inner {
      height: rem(84px);
    }
    height: 100px;
    margin: 0;
    border-bottom: 1px solid $light-color4;
    /* grid-template-columns: 5px 1fr 5px; */
  }

  .dashboard-container {
    height: 100%;
    // grid-row: 2 / -1;

    .dashboard-nav {
      /* grid-template-columns: 5px 1fr 5px; */
      background-color: #131720;
      width: rem(200px);
      color: $light-color;
      padding: rem(15px);

      .title {
        padding-block-end: rem(10px);
        border-bottom: solid 1px $light-color5;
        margin-block-end: rem(10px);
        padding-left: rem(8px);
      }

      .site-name,
      .logout {
        font-size: rem(16px);
        padding: rem(5px) 0;
        border-radius: 3px;
        cursor: pointer;
        padding-left: rem(8px);
      }

      .logout:hover {
        color: $light-color2;
      }

      .site-name:hover {
        background-color: rgba($light-color1, 30%);
        border-left: solid 3px $light-color2;
      }
    }

    .dashboard-main {
      flex-grow: 1;
      // padding: rem(15px);
      background-color: $light-color;
      &-header {
        background-color: #131720;
        width: 100%;
        border: 2px solid #131720;
        border-left: none;
        border-bottom: 1px solid $light-color4;
        border-bottom-right-radius: rem(50px);
        .title {
          font-size: rem(28px);
          font-family: Reboto-Bold, sans-serif;
          padding: rem(7px) rem(27px);
          padding-bottom: rem(7px);
          color: $light-color1;
        }
      }

      &__inner {
        padding: rem(15px) rem(28px);
        .top {
          margin-block-end: rem(28px);
          .site-name {
            color: $primary-color;
            font-size: rem(32px);
          }

          .dash-btn {
            display: inline-block;
            width: rem(100px);

            font-weight: 500;
            padding: rem(8px) rem(12px);
            cursor: pointer;
            border-radius: 9px;
            text-align: center;
            border: 1px solid $primary-color;

            &:first-child {
              background-color: #fff;
              color: $primary-color;

              &:hover {
                background-color: $primary-color;
                color: $light-color;
              }
            }

            &:last-child {
              margin-inline-start: rem(10px);
              background-color: $primary-color;
              color: $light-color;

              &:hover {
                background-color: #fff;
                color: $primary-color;
              }
            }
          }
        }

        .right {
          width: 55%;
          margin-inline-end: rem(20px);
        }

        .left {
          width: 45%;
          .box {
            width: 32%;
            height: rem(150px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $light-color3;
            padding: rem(28px) rem(16px);
            font-weight: 500;
            border-radius: 9px;
            margin-bottom: rem(16px);

            .icon {
              font-size: rem(24px);
            }
          }

          .total-views {
            background-color: #8ce99a;
          }
          .total-subs {
            background-color: #ffe066;
          }
          .conversion {
            background-color: #74c0fc;
          }
        }
      }
    }
  }
}
