.dashboard-wrapper {
  height: 100vh;
  grid-template-rows: 83px 1fr;

  .main-header {
    .header__inner {
      height: rem(84px);
    }

    height: 100px;
    margin: 0;
    border-bottom: 1px solid $light-color4;
    /* grid-template-columns: 5px 1fr 5px; */
  }

  .dashboard-container {
    height: 100%;

    // grid-row: 2 / -1;

    .dashboard-nav {
      /* grid-template-columns: 5px 1fr 5px; */
      background-color: #131720;
      width: rem(200px);
      color: $light-color;
      padding: rem(15px);

      .title {
        padding-block-end: rem(10px);
        border-bottom: solid 1px $light-color5;
        margin-block-end: rem(10px);
        padding-left: rem(8px);
      }

      .site-name,
      .logout {
        font-size: rem(16px);
        padding: rem(5px) 0;
        border-radius: 3px;
        cursor: pointer;
        padding-left: rem(8px);
      }

      .logout:hover {
        color: $light-color2;
      }

      .site-name:hover {
        // background-color: rgba($light-color1, 30%);
        border-left: solid 3px $light-color2;
      }

      .site-name.active {
        // border: 1px solid rgba($light-color1, 30%)
        background-color: rgba($light-color1, 30%);
        border-left: solid 3px $light-color2;
      }
      
    }

    .dashboard-main {
      flex-grow: 1;
      // padding: rem(15px);
      background-color: $light-color;

      &-header {
        background-color: #131720;
        width: 100%;
        border: 2px solid #131720;
        border-left: none;
        border-bottom: 1px solid $light-color4;
        border-bottom-right-radius: rem(50px);
        // color: $light-color;
        .title {
          font-size: rem(23px);
          font-family: Reboto-Bold, sans-serif;
          padding: rem(10px) rem(27px);
          // padding-bottom: rem(7px);
          color: $light-color;
        }
      }

      &__inner {
        padding: rem(15px) rem(28px);

        .top {
          margin-block-end: rem(15px);

          .site-name {
            color: $dark-color;
            font-size: rem(28px);
          }

          .dash-btn {
            // background: linear-gradient(to right, #f34a93, #ff61a8);

            display: inline-block;
            width: rem(100px);
            height: rem(35px);
            font-weight: 500;

            cursor: pointer;
            border-radius: 9px;
            text-align: center;
            border: 1px solid $primary-color;

            &:first-child {
              background-color: #fff;
              color: $primary-color;

              &:hover {
                background-color: $primary-color;
                color: $light-color;
              }
            }

            &:last-child {
              margin-inline-start: rem(10px);
              background-color: $primary-color;
              color: $light-color;

              &:hover {
                background-color: #fff;
                color: $primary-color;
              }
            }
          }
        }

        .dashboard-container {
          margin-block-end: rem(18px);
          width: 100%;
          display: grid;
          grid-template-columns: 60% 1fr;
          // align-items: center;
          // justify-items: center;
          // .right {
          //   font-size: rem(22px);

          //   margin-inline-end: rem(20px);
          // }

          // width: 45%;
          width: 100%;
          // flex-direction: row-reverse;

          h2 {
            margin-block-end: rem(12px);
          }

          .summary {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: rem(12px);
          }

          .graph {
            // width: 65%;
            margin-inline-end: rem(36px);
            // margin-block-start: rem(20px);
            // max-height: rem(225px);
            h2 {
              margin-block-end: rem(28px);
            }
          }

          .box {
            font-size: rem(15px);
            // width: 42%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: rem(8px);
            align-items: center;
            background-color: $light-color;
            padding: rem(36px) rem(16px);
            font-size: rem(20px);
            font-weight: 500;
            border-radius: 9px;
            // margin-bottom: rem(16px);

            .icon {
              font-size: rem(24px);
            }
          }

          .total-views {
            background: linear-gradient(to right, #5b86e5, #5af0fb);
          }

          .created-date {
            background: linear-gradient(to right, #f34a93, #f4d0a0);
          }

          .total-subs {
            background: linear-gradient(to right, #256fe8, #61caff);
          }

          .conversion {
            background: linear-gradient(to right, #ff168fdf, #fcbadf);
          }
        }
      }
    }
  }
}
