.editor {
  height: 100vh;
  overflow: hidden;

  &-header {
    padding: em(6px) em(20px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    background-color: #fff;

    h1 {
      margin: 0;
    }

    .link {
      cursor: pointer;
    }

    .page-nav {
      width: 200px;
    }
  }

  &-nav {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.026);
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    background-color: #fff;
    padding: 0 em(12px);
    
    @include for-medium-layout {
      padding: 0 em(24px);
    }

    .back {
      padding-right: em(22px);
      // border-right: 1px solid rgba(128, 128, 128, 0.26);
      height: 100%;
      display: flex;
      align-items: center;

      .back-link {
        color: #868e96;
        font-size: em(22px);
        cursor: pointer;

        &:hover {
          color: $dark-color;
        }
      }
    }

    >* {
      margin-inline-end: em(10px);
    }

    &-select {
      border-right: 1px solid rgba(128, 128, 128, 0.26);
      padding: em(5px);

      display: none;

      .ant-select-selector {
        border: none;
        background-color: transparent;
        width: 200px;
      }
    }

    &-view-port {
      display: none;
      // border-right: 1px solid rgba(128, 128, 128, 0.26);
      padding: 0 em(10px);
      height: 100%;

      @include for-medium-layout {
        display: flex;
      }

      .icon {
        padding: em(4px);
        border-radius: em(5px);
        font-size: em(22px);
        margin-inline-end: em(10px);
        cursor: pointer;
        color: #868e96;

        &:hover {
          color: $dark-color;
        }

        &.active {
          // background-color: rgba(20, 42, 243, 0.237);
          background-color: #74c1fc79;
          color: $dark-color;
        }
      }
    }

    &-site-domain {
      width: 100%;
      // border-right: 1px solid;
      padding-right: em(20px);
      padding: em(8px);
      // border-right: 1px solid rgba(128, 128, 128, 0.26);

      div {
        .icon {
          margin-inline-end: em(5px);
          color: #adb5bd;
        }

        border-radius: em(20px);
        padding: em(4px) em(20px);
        background-color: rgba(128, 128, 128, 0.082);

        .http {
          color: #4263eb;
        }

        .my-site {
          color: rgb(204, 0, 255);
        }
      }
    }

    &-actions {
      // border-right: 1px solid rgba(128, 128, 128, 0.26);
      display: none;

      @include for-medium-layout {
        display: flex;
      }
      .icon {
        padding: em(3px);
        border-radius: em(5px);
        font-size: em(20px);
        margin-inline-end: em(10px);
        cursor: pointer;
        color: #adb5bd;

        &:hover {
          color: rgb(22, 22, 22);
        }
      }
    }
  }

  &--main {
    overflow-y: hidden;
    transition: all 0.5s;
  }

  &-wap-container {
    margin: 0 auto;

    height: 90vh;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s;
    background-color: $light-color;
    border-left: 1px solid $light-color3;

    .drag-here {
      border: 3px dashed rgba(20, 42, 243, 0.237);
      color: rgba(20, 42, 243, 0.237);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(100px);

      font-size: rem(36px);
    }

    .smooth-dnd-container {
      min-height: 80vh;
    }
  }
}