.editor {
  height: 100vh;
  overflow: hidden;
  &-header {
    padding: em(6px) em(20px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    background-color: #fff;
    h1 {
      margin: 0;
    }

    .page-nav {
      width: 200px;
    }
  }

  &-nav {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.026);
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    background-color: #fff;

    > * {
      margin-inline-end: em(10px);
    }

    &-select {
      border-right: 1px solid rgba(128, 128, 128, 0.26);
      padding: em(5px);

      .ant-select-selector {
        border: none;
        background-color: transparent;
        width: 200px;
      }
    }

    &-view-port {
      border-right: 1px solid rgba(128, 128, 128, 0.26);
      padding: 0 em(10px);

      .icon {
        padding: em(4px);
        border-radius: em(5px);
        font-size: em(22px);
        margin-inline-end: em(10px);
        cursor: pointer;
        color: #868e96;

        &:hover {
          color: $dark-color;
        }

        &.active {
          background-color: rgba(20, 42, 243, 0.237);
          color: $dark-color;
        }
      }
    }

    &-site-domain {
      flex-basis: 60%;
      border-right: 1px solid;
      padding-right: em(20px);
      border-right: 1px solid rgba(128, 128, 128, 0.26);

      div {
        .icon {
          margin-inline-end: em(5px);
          color: #adb5bd;
        }

        border-radius: em(20px);
        padding: em(4px) em(20px);
        background-color: rgba(128, 128, 128, 0.082);

        .http {
          color: #4263eb;
        }
      }
    }

    &-actions {
      .icon {
        padding: em(3px);
        border-radius: em(5px);
        font-size: em(20px);
        margin-inline-end: em(10px);
        cursor: pointer;
        color: #adb5bd;

        &:hover {
          color: rgb(22, 22, 22);
        }
      }
    }
  }

  &--main {
    overflow-y: hidden;
    transition: all 0.5s;
  }

  &-wap-container {
    margin: 0 auto;

    height: 90vh;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.7s;
    background-color: $light-color;

    .smooth-dnd-container {
      height: 100%;
    }
  }
}
