.wap-editor {
    // background-color: brown;
    height: 100vh;
    z-index: 10;

    .editor-header {
        // background-color: blue;
        padding: em(6px) em(20px);
        border-bottom: 1px solid rgba(128, 128, 128, 0.26);

        h1 {
            margin: 0;
        }

        .page-nav {
            width: 200px;
        }
    }

    .editor-nav {
        width: 100vw;
        box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.084);
        border-bottom: 1px solid rgba(128, 128, 128, 0.26);

        >* {
            margin-inline-end: em(10px);
        }

        .select-container {
            border-right: 1px solid rgba(128, 128, 128, 0.26);
            padding: em(5px);

            .ant-select-selector {
                border: none;
                background-color: transparent;
                width: 200px;
            }
        }

        .view-port-mode {
            border-right: 1px solid rgba(128, 128, 128, 0.26);
            padding: 0 em(10px);

            .icon {
                padding: em(3px);
                border-radius: em(5px);
                font-size: em(22px);
                margin-inline-end: em(10px);
                cursor: pointer;

                &:active {
                    background-color: rgba(20, 42, 243, 0.278);
                }
            }

        }

        .demo-site-domain {
            flex-basis: 60%;
            border-right: 1px solid;
            padding-right: em(20px);
            border-right: 1px solid rgba(128, 128, 128, 0.26);

            div {
                .icon {
                    margin-inline-end: em(5px);
                }

                border-radius: em(20px);
                padding: em(4px) em(20px);
                background-color: rgba(128, 128, 128, 0.082);

                .http {
                    color: green;
                }
            }

        }

        .actions {
            .icon {
                padding: em(3px);
                border-radius: em(5px);
                font-size: em(20px);
                margin-inline-end: em(10px);
                cursor: pointer;

            }
        }
    }
}

.editor-main {
    width: 100vw;
    flex-grow: 10;
    overflow-y: hidden;

    .edit-tool-bar {
        background-color: whitesmoke;

        .tool-bar-nav {

            border-right: 1px solid rgba(128, 128, 128, 0.26);
            padding: em(10px);
            padding-top: em(22px);
            z-index: 20;
            background-color: whitesmoke;

            li {
                margin-block-end: em(28px);
                border-radius: 50%;
                padding: em(10px);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: rgba(170, 0, 255, 0.14);
                }

                .icon {
                    cursor: pointer;
                    font-size: em(28px);
                    color: rgb(40, 33, 33);
                }
            }

        }

        .tools {

            padding: em(10px);
            border-right: 1px solid rgba(128, 128, 128, 0.26);
            transform: translateX(-100%);
            position: fixed;
            height: 100%;
            z-index: 1;
            background-color: whitesmoke;
            width: em(300px);
            transition: transform .6s, box-shadow .6s;

            .cmp-preview {
                margin-block-end: em(10px);
                border: 1px solid;
                padding: rem(5px);
                cursor: pointer;
            }

            &.open {
                position: relative;
                transform: translateX(0);
            }

        }
    }

    .wap-preview {
        margin: em(10px) em(30px);
        min-height: 100px;
        flex-grow: 1;
        overflow-y: scroll;

        .smooth-dnd-container {
            height: 100%;
        }

    }
}