.home-page {

    .top-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .header__inner {
        // padding: em(20px) 0;
        z-index: 10;

        .main-header-logo {
            font-size: em(36px);
            font-family: Nunito-regular;
        }

        .header-link {
            text-decoration: none;
            font-family: Nunito-bold;
            text-transform: uppercase;
            color: $dark-color;
            font-size: em(16px);
            letter-spacing: em(1.3px);
            padding: em(24px) em(38px);
            cursor: pointer;
        }

        .link-signup {
            border: 1px solid $dark-color;

            &:hover {
                background-color: $dark-color;
                color: $light-color;
            }
        }

    }

    .main-hero {

        .hero__inner {
            position: relative;
            display: flex;
            justify-content: start;
            z-index: 10;
            padding-top: em(60px);

            .text-box {
                width: em(440px);
                font-family: Nunito-bold;

                .hero-heading {
                    line-height: em(14px);
                    margin-block-end: em(10px);
                }

                .hero-subheading {
                    font-size: em(18px);
                    color: rgb(138, 135, 135);
                    margin-block-end: em(52px);
                }

                .hero-btn {
                    text-decoration: none;
                    font-family: Nunito-bold;
                    text-transform: uppercase;
                    color: $dark-color;
                    font-size: em(16px);
                    letter-spacing: em(1.3px);
                    padding: em(24px) em(38px);
                    border: 1px solid $dark-color;
                    cursor: pointer;

                    &:hover {
                        background-color: $dark-color;
                        color: $light-color;
                    }
                }

                .learn-more {
                    font-family: Nunito-bold;
                    text-transform: uppercase;
                    color: $dark-color;
                    font-size: em(16px);
                    letter-spacing: em(1.3px);
                    padding: em(24px) em(38px);
                    cursor: pointer;
                }
            }
        }
    }

    .editor-preview {
        // height: 60vh;
        width: 100vw;
        
        
        padding-top: rem(10px);
        @include for-medium-layout {
            background-color: $dark-color1;
            height: 60vh;
            padding: 0;
        }

        &__inner {
            transform-style: preserve-3d;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // max-height: 500px;

            .imgs-wrapper {
                position: relative;
                // width: 40%;
                .img {
                    width: 100%;
                    margin-block-end: rem(10px);

                }

                @include for-medium-layout {
                    .img {
                        position: fixed;
                        top: 0%;
                        left: -27%;
                        box-shadow: -1px 1px 10px 5px #000;
                        max-width: 100%;
                        transition: transform 0.3s;
                    }

                    .pos1 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
                        z-index: 100;
                    }

                    .pos2 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(350px) scale(0.5);
                        z-index: 80;
                    }

                    .pos3 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(300px) scale(0.5);
                        z-index: 60;
                    }

                    .pos4 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(250px) scale(0.5);
                        z-index: 40;
                    }
                }

            }

            .list-wrapper {
                // background-color: yellow;
                padding-left: 100px;
                max-width: 550px;
                text-align: right;
                flex-basis: 50%;
                // height: 500px;
                display: none;

                li {
                    font-family: Nunito-regular;
                    text-transform: uppercase;
                    color: $light-color;
                    font-size: em(22px);
                    letter-spacing: em(1.3px);
                    padding: em(30px) 0;
                    cursor: pointer;

                    &.active {
                        font-weight: 700;
                        // font-size: em(30px);
                        text-shadow: rgba(252, 252, 252, 0.701);
                    }
                }

            }
        }
    }
}