.home-page {

    .main-header {
        .header__inner {
            .header-link {
                color: $light-color;
            }

            .link-signup {
                border: 1px solid $light-color;


                &:hover {
                    background-color: $dark-color;
                    color: $light-color;
                }
            }
        }
    }

    .top-wrapper {
        width: 100vw;
        height: 100vh;
        margin-bottom: 30px;
        
        @include for-medium-layout {
            margin-bottom: 0;
        }
    }

    .bg-cover-hero {
        position: absolute;
        top: -43vh;
        right: -26vw;
        width: 80%;
        height: 120%;
        background-color: #be123c;
        border-radius: 5.5rem;
        transform: rotate(162deg);

        display: none;

        

        @include for-small-layout {
            display: block;
        }


    }

    .hero-btn {
        text-decoration: none;
        font-family: Nunito-bold;
        text-transform: uppercase;
        font-size: em(16px);
        letter-spacing: em(1.3px);
        padding: em(24px) em(38px);
        cursor: pointer;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: rem(24px);
        color: $light-color;

        &:hover {
            background-color: #fff;
            color: $primary-color;
        }
    }

    .main-hero {
        
        .hero__inner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80vh;

            @include for-small-layout {
                margin-top: -100px;
                flex-direction: row;
            }

            @include for-narrow-layout {
                margin-top: 0;
                align-items: center;
            }

            .hero-img {
                width: 100%;
                height: auto;
                
                @include for-small-layout {
                    width: 60%;
                }
            }

            .text-box {
                width: 100%;
                font-family: Nunito-bold;
                padding-right: 10vw;
                
                @include for-small-layout {
                    padding-right: 0;
                    width: 50%;
                }
                .hero-heading {
                    line-height: em(14px);
                    margin-block-end: em(5px);
                    // font-size: rem(76px);
                    font-size: rem(52px);
                    font-family: Nunito-bold;

                    @include for-medium-layout {
                        font-size: rem(52px);
                    }

                    @include for-narrow-layout {
                        font-size: rem(76px);
                        // background-color: blue;
                    }

                    @include for-normal-layout {
                        font-size: rem(76px);
                        // background-color: green;
                    }

                    @include for-wide-layout {
                        font-size: rem(94px);
                        // background-color: yellow;
                    }
                }

                .hero-subheading {
                    font-size: em(14px);
                    color: rgb(138, 135, 135);
                    margin-block-end: em(52px);

                    @include for-narrow-layout {
                        font-size: em(18px);
                    }
                }

                .learn-more {
                    font-family: Nunito-bold;
                    text-transform: uppercase;
                    color: $dark-color;
                    font-size: em(12px);
                    letter-spacing: em(1.3px);
                    padding: em(24px) em(38px);
                    cursor: pointer;

                    @include for-narrow-layout {
                        font-size: em(16px);
                    }
                }
            }

            .hero-btn {
                text-decoration: none;
                font-family: Nunito-bold;
                text-transform: uppercase;
                font-size: em(12px);
                letter-spacing: em(1.3px);
                padding: em(24px) em(38px);
                cursor: pointer;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: $light-color;

                @include for-narrow-layout {
                    font-size: em(16px);
                    padding: em(24px) em(38px);
                }

                &:hover {
                    background-color: #fff;
                    color: $primary-color;
                }
            }
        }
    }


    .editor-preview {
        width: 100vw;
        height: 100vh;
        background-color: $dark-color5;

        &__inner {
            transform-style: preserve-3d;
            display: flex;
            justify-content: space-between;

            .list-wrapper {
                height: 100%;
                // flex-basis: 35%;
                // background-color: yellow;

                li {
                    text-align: right;
                    font-family: Nunito-regular;
                    text-transform: uppercase;
                    color: rgba(128, 128, 128, 0.564);
                    font-size: em(16px);
                    letter-spacing: em(1.3px);
                    margin-block-end: em(24px);
                    cursor: pointer;

                    @include for-narrow-layout {}

                    @include for-normal-layout {
                        font-size: em(18px);
                    }

                    &.active {
                        font-weight: 700;
                        color: $light-color;
                    }
                }
            }
        }

        .imgs-wrapper {
            // flex-basis: 65%;
            // background-color: blue;


            .img {
                transition: transform 0.3s;
                width: 100%;
            }
        }
    }

    &-cards {
        background-image: url("https://static1.squarespace.com/static/ta/5ae0ba5445776e1de31f1a8d/406/assets/images/homepage/02_STILL_LIFE_298_v3.jpg?format=2500w");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;


        .cards__inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cards-heading {
                font-family: Nunito-bold;
                text-align: center;

                &__heading {
                    font-size: rem(64px);
                    line-height: em(14px);
                    margin-block-end: em(12px);
                }

                &__subheading {
                    line-height: em(14px);
                    font-size: rem(24px);
                    margin-block-end: em(24px);
                }
            }

            .cards-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-block-end: em(52px);

                .card {
                    font-family: Nunito-bold;
                    width: 300px;
                    line-height: em(38px);
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: flex-start;
                    padding: 0 em(32px);

                    &:nth-of-type(1) {
                        margin-inline-end: em(32px);
                    }

                    &:nth-of-type(3) {
                        margin-inline-start: em(32px);
                    }

                    &:nth-of-type(2) {
                        border-left: 1px solid rgba($dark-color5, 20%);
                        border-right: 1px solid rgba($dark-color5, 20%);
                        width: em(400px);
                    }

                    .card-head {
                        font-size: rem(36px);
                        margin-block-end: rem(12px);
                    }

                    .card-body {
                        font-size: rem(14px);
                        line-height: em(22px);
                        color: rgba($dark-color5, 80%);
                    }
                }
            }
        }
    }


}