.home-page {
    .bg-cover {
        background-image: url("https://res.cloudinary.com/duvwxwtot/image/upload/v1658896492/sprint%204/bg2_filgcm.svg");
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top-wrapper {
        width: 100vw;
        height: 100vh;
    }

    .header__inner {
        z-index: 10;

        .main-header-logo {
            font-size: em(36px);
            font-family: Nunito-regular;
        }

        .header-link {
            text-decoration: none;
            font-family: Nunito-bold;
            text-transform: uppercase;
            color: $dark-color;
            font-size: em(16px);
            letter-spacing: em(1.3px);
            padding: em(24px) em(38px);
            cursor: pointer;

            &.link-dashboard {
                padding-right: 0;
            }
        }

        .link-signup {
            border: 1px solid $dark-color;

            &:hover {
                background-color: $dark-color;
                color: $light-color;
            }
        }
    }

    .main-hero {

        .hero__inner {
            position: relative;
            display: flex;
            justify-content: start;
            z-index: 10;
            padding-top: em(60px);

            .text-box {
                width: em(820px);
                font-family: Nunito-bold;

                .hero-heading {
                    line-height: em(14px);
                    margin-block-end: em(5px);
                    font-size: rem(98px);
                }

                .hero-subheading {
                    font-size: em(22px);
                    color: rgb(138, 135, 135);
                    margin-block-end: em(52px);
                }

                .hero-btn {
                    text-decoration: none;
                    font-family: Nunito-bold;
                    text-transform: uppercase;
                    font-size: em(16px);
                    letter-spacing: em(1.3px);
                    padding: em(24px) em(38px);
                    cursor: pointer;
                    background-color: #be123c;
                    border: 1px solid #be123c;
                    color: $light-color;

                    &:hover {
                        background-color: #fff;
                        color: #be123c;
                    }
                }

                .learn-more {
                    font-family: Nunito-bold;
                    text-transform: uppercase;
                    color: $dark-color;
                    font-size: em(16px);
                    letter-spacing: em(1.3px);
                    padding: em(24px) em(38px);
                    cursor: pointer;
                }
            }
        }
    }

    .editor-preview {
        height: 100vh;
        width: 100vw;
        background-color: $dark-color1;
        background-image: url("https://res.cloudinary.com/duvwxwtot/image/upload/v1658906310/sprint%204/section2.2_ai13hr.jpg");

        &__inner {
            transform-style: preserve-3d;
            position: relative;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 2fr 3fr;
            grid-template-areas:
                "h h"
                "img list";

            .heading {
                grid-area: h;

                .intro {
                    color: $light-color;
                    font-family: Nunito-regular;
                    font-size: em(52px);
                    margin-top: em(16px);
                }
            }

            .list-wrapper {

                grid-area: list;
                min-width: max-content;

                li {
                    text-align: right;
                    font-family: Nunito-regular;
                    text-transform: uppercase;
                    color: rgba(128, 128, 128, 0.564);
                    font-size: em(18px);
                    letter-spacing: em(1.3px);
                    margin-block-end: em(24px);
                    cursor: pointer;

                    &.active {
                        font-weight: 700;
                        color: $light-color;
                    }
                }
            }

            .img-container {
                grid-area: img;
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: flex-start;

                .imgs-wrapper {
                    position: absolute;
                    width: 50%;
                    top: 20%;
                    left: -27.5%;

                    .img {
                        position: fixed;
                        box-shadow: -1px 1px 10px 5px #000;
                        transition: transform 0.3s;
                        max-width: 100%;
                    }

                    .pos1 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(400px) scale(0.5);
                        z-index: 100;
                    }

                    .pos2 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(350px) scale(0.5);
                        z-index: 80;
                    }

                    .pos3 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(300px) scale(0.5);
                        z-index: 60;
                    }

                    .pos4 {
                        transform: perspective(1300px) rotateY(20deg) translateZ(250px) scale(0.5);
                        z-index: 40;
                    }
                }
            }
        }
    }
}