.home-page {

    .main-header {
        .header__inner {
            .header-link {
                color: $light-color;
            }

        }
    }

    .top-wrapper {
        width: 100vw;
        height: 100vh;
        // margin-bottom: 30px;
        

        @include for-medium-layout {
            margin-bottom: 0;
        }
    }

    .bg-cover-hero {
        position: absolute;
        top: -44vh;
        right: -26vw;
        width: 80%;
        height: 120%;
        background-color: #be123c;
        border-radius: 5.5rem;
        transform: rotate(162deg);

        display: none;



        @include for-small-layout {
            display: block;
        }


    }

    .hero-btn {
        text-decoration: none;
        font-family: Nunito-bold;
        text-transform: uppercase;
        font-size: em(16px);
        letter-spacing: em(1.3px);
        padding: em(24px) em(38px);
        cursor: pointer;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: rem(24px);
        color: $light-color;

        &:hover {
            background-color: #fff;
            color: $primary-color;
        }
    }

    .main-hero {

        .hero__inner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80vh;

            @include for-small-layout {
                margin-top: -100px;
                flex-direction: row;
            }

            @include for-narrow-layout {
                margin-top: 0;
                align-items: center;
            }

            .hero-img {
                width: 100%;
                height: auto;

                @include for-small-layout {
                    width: 60%;
                }
            }

            .text-box {
                width: 100%;
                font-family: Nunito-bold;
                padding-right: 10vw;

                @include for-small-layout {
                    padding-right: 0;
                    width: 50%;
                }

                .hero-heading {
                    line-height: em(14px);
                    margin-block-end: em(5px);
                    // font-size: rem(76px);
                    font-size: rem(52px);
                    font-family: Nunito-bold;

                    @include for-medium-layout {
                        font-size: rem(52px);
                    }

                    @include for-narrow-layout {
                        font-size: rem(76px);
                        // background-color: blue;
                    }

                    @include for-normal-layout {
                        font-size: rem(76px);
                        // background-color: green;
                    }

                    @include for-wide-layout {
                        font-size: rem(98px);
                        // background-color: yellow;
                    }
                }

                .hero-subheading {
                    font-size: em(14px);
                    color: rgb(138, 135, 135);
                    margin-block-end: em(52px);

                    @include for-narrow-layout {
                        font-size: em(24px);
                    }
                }

                .learn-more {
                    font-family: Nunito-bold;
                    text-transform: uppercase;
                    color: $dark-color;
                    font-size: em(12px);
                    letter-spacing: em(1.3px);
                    padding: em(24px) em(38px);
                    cursor: pointer;

                    @include for-narrow-layout {
                        font-size: em(16px);
                    }
                }
            }

            .hero-btn {
                text-decoration: none;
                font-family: Nunito-bold;
                text-transform: uppercase;
                font-size: em(12px);
                letter-spacing: em(1.3px);
                padding: em(24px) em(38px);
                cursor: pointer;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: $light-color;

                @include for-narrow-layout {
                    font-size: em(16px);
                    padding: em(24px) em(38px);
                }

                &:hover {
                    background-color: #fff;
                    color: $primary-color;
                }
            }
        }
    }

    &-cards {
        background-color: #14348E;
        height: 50vh;
        width: 100vw;

        &__inner {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 10%;

            .heading {
                width: 60%;

                h2 {
                    font-family: Nunito-bold;
                    font-size: em(72px);
                    line-height: em(20px);
                    color: $light-color;
                    margin-top: -10px;

                }
            }

            .body {
                width: 40%;

                p {
                    font-family: Nunito-regular;
                    color: $light-color;
                    font-size: em(24px);
                    text-align: left;
                }

                .link {
                    font-size: em(42px);
                    text-decoration: underline;
                    font-family: Nunito-regular;
                    color: $light-color;
                }
            }
        }
    }

    .editor-preview {
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        display: none;
        .section-left {
            background-color: yellow;
        }
    }
}