.login {

  width: 100vw;
  height: 100vh;

  .login-wrapper {

    &__inner {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .login__form {
        text-align: center;

        input,
        button {
          padding: 0.9rem 1rem;
          margin: 16px 0px 8px;
          vertical-align: top;
          width: 100%;
          background-color: $light-color4;
          font-size: rem(15px);
          outline-color: $secondary-color;
        }

        button {
          font-family: Nunito-regular;
          background-color: $primary-color;
          margin-top: 1.5rem;
          padding: 0.8rem 0.8rem;
          border: none;
          font-size: 17px;
          color: $light-color1;
          font-weight: 600;
          cursor: pointer;
          border: 1px solid $primary-color;

          &:hover {
            background-color: #fff;
            color: $primary-color;
          }
        }

        input {
          border: 1px solid $light-color5;
        }

        h2 {
          font-family: Nunito-regular;
          font-size: rem(40px);
          letter-spacing: 0;
          margin-bottom: rem(18px);
        }

      }

      p {
        font-family: Nunito-regular;
        margin-top: rem(12px);
        text-decoration: underline;
        font-size: rem(15px);
        cursor: pointer;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}






.login-modal,
.signup-modal {
  width: rem(300px);
  margin: 0 auto;

  input {
    background-color: $light-color3;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 3px;
    width: rem(200px);
    color: #aaaaaa;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
  }

  button {
    background: $primary-color;
    width: rem(150px);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #be123d83 1px solid;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    margin-left: 16px;
    font-weight: 800;
    font-size: 0.8em;

    &:hover {
      background-color: #840626;
    }
  }
}