.login ,.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: rem(350px);
  padding: rem(20px);
  width: rem(550px);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  input,
  button {
    border-radius: rem(4px);
    padding: 0.9rem 1rem;
    margin: 16px 0px 8px;
    vertical-align: top;
    width: 100%;
    background-color: $light-color4;
    font-size: rem(15px);
    outline-color:$secondary-color ;

  }

  button {
    background-color: $secondary-color;
    margin-top: 1.5rem;
    padding: 0.8rem 0.8rem;
    border: none;
    font-size: 17px;
    color: $light-color1;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color-light
    }
  }

  input {
    border: 1px solid $light-color5;
  }

  h2 {
    text-align: center;
    font-size: rem(40px);
    letter-spacing: 0;
    margin-bottom: rem(18px);
  }

  p {
    margin-top: rem(12px);
    text-decoration: underline;
    font-size: rem(15px);
    cursor: pointer;
  }

}