.notification {
  // height: rem(100px);
  margin-inline-start: rem(26px);
  padding: rem(20px) rem(8px);
  font-size: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $light-color2;
  background-color: $light-color;
  color: $dark-color;
  border-left: 6px solid #37b24d;
}

.vue-notification-template {
  // height: rem(100px);
  padding: rem(20px) rem(8px);
  font-size: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $light-color2;
  background-color: $light-color;
  color: $dark-color;
  border-left: 6px solid #37b24d;
}

.vue-notification-template.notification {
  // height: rem(100px);
  padding: rem(20px) rem(8px);
  font-size: rem(20px);
  display: flex;
  justify-content: center;
  border: 2px solid $light-color2;
  align-items: center;
  background-color: $light-color;
  color: $dark-color;
  border-left: 6px solid #37b24d;
}
