.thank-you-container {
   text-align: center;
    font-family:Roboto-Regular;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
        width: 200px;
        margin-bottom: rem(35px);
    }
    h1{
        font-size: rem(65px);
        margin-bottom: rem(15px);
    }
    h2{
        font-size: rem(45px);
    }
}