.tool-bar {
  position: relative;

  &-nav__mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;

    .mobile-tool-filter {
      padding: 80px;
      background-color: #b60e4c;
      border-radius: 50%;
      position: fixed;
      bottom: -35px;
      right: -30px;
      // padding: 20px;
      z-index: 200;
      display: none;

      &.open {
        display: block;

        @include for-medium-layout {
          display: none;
        }
      }

      @include for-medium-layout {
        display: none;
      }

      .mobile-icon {
        font-size: 28px;
        background-color: rgb(22, 20, 28);
        color: $light-color;
        // outline: 1px solid;
        border-radius: 50%;
        padding: 5px 12px;
      }

      .mobile-icon.add {
        position: fixed;
        bottom: 9px;
        right: 104px;
        font-size: 26px;
        padding: 5px 14px;
      }

      .mobile-icon.pallete {
        position: fixed;
        bottom: 78px;
        right: 86px;
      }

      .mobile-icon.edit {
        position: fixed;
        bottom: 102px;
        right: 15px;
      }
    }

    .add-section-mobile {
      position: fixed;
      bottom: 14px;
      right: 26px;
      z-index: 210;

      .plus-icon-mobile {
        font-size: 28px;
        background-color: #230413;
        padding: 16px;
        border-radius: 50%;
        color: $light-color;
        outline: 1px solid $light-color;
        // box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
      }

      @include for-medium-layout {
        display: none;
      }
    }
  }

  &-nav {

    display: none;

    @include for-medium-layout {

      display: flex;
      border-right: 1px solid $light-color3;
      padding: em(10px);
      padding-top: em(12px);
      z-index: 20;
      background-color: #fff;

      .top,
      .bottom {
        padding-bottom: em(42px);

        li {
          margin-block-end: em(28px);
          border-radius: 50%;
          padding: em(9px) em(10px) em(6px) em(10px);
          text-align: center;

          &:hover {
            background-color: #74c1fc79;
          }

          &.active {
            background-color: #74c1fc79;
          }

          .icon {
            cursor: pointer;
            font-size: em(24px);
            color: rgb(63, 65, 60);
          }
        }
      }
    }
  }

  &-actions {
    border-bottom: solid 2px #f1f3f5;
    border-right: 1px solid $light-color3;
    width: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #fff;


    // mobile
    position: absolute;
    bottom: 0;
    // bottom: rem(-250px);
    left: 0;
    z-index: 200;
    height: 0;
    width: 100vw;
    transition: all 0.3s;

    @include for-medium-layout {
      position: static;
      height: initial;
      width: 0;
    }

    &.open-section {
      width: 100vw;
      height: rem(400px);
      transition: all 0.3s;

      @include for-medium-layout {
        width: rem(550px);
        height: initial;
      }
    }

    &.open-edit {
      //mobile
      width: 100vw;
      height: rem(400px);

      @include for-medium-layout {
        width: rem(325px);
        height: initial;
      }
    }

    &__header {
      border-top: #1971c2 5px solid;
      border-bottom: solid 1px #f1f3f5;
      padding: rem(6px) rem(16px);
      align-items: center;

      h2 {
        font-family: Roboto-Bold, sans-serif;
      }

      .close {
        font-size: rem(12px);
        cursor: pointer;
        padding-bottom: (5px);
      }
    }

    &__labels {
      // padding: em(15px);
      // padding: 0;
      background-color: #f7f8f8;
      // width: rem(250px);

      // justify-content: flex-start;

      display: none;

      @include for-medium-layout {
        display: flex;
      }
    }

    &__label {
      // margin-block-end: rem(10px);
      width: 200px;

      padding: rem(8px) em(10px);
      border-left: 4px solid transparent;
      margin-block-end: em(8px);

      &.selected {
        border-color: #228be6;
        // border-bottom: 1px solid #228be638;
        // border-top: 1px solid #228be638;
      }

      &:first-child {
        padding: em(18px) em(15px);
        border-bottom: 1px solid $light-color3;
        margin-block-end: 0;
        font-weight: 600;
      }

      &-text {
        display: block;
        // padding: rem(5px) rem(8px);
        cursor: pointer;
        min-width: 100%;

        &:hover {
          // border-radius: rem(20px);
          // background-color: #74c1fc79;
          color: #228be6;
        }

        &.selected {
          // border-radius: rem(20px);
          // background-color: #74c1fc79;
          color: #228be6;
          // font-weight: 600;

        }
      }
    }

    &__options {
      overflow-y: auto;
      height: 85vh;
      padding: em(15px) rem(18px);
      padding-top: 0;
      width: 100%;

      &-filter {
        padding: em(8px) 0;
        border-bottom: 1px solid $light-color3;
        margin-block-end: rem(8px);

        .select-filter {
          width: 100%;
        }

        @include for-medium-layout {
          display: none;
        }
      }

      &-title {
        padding: em(18px) 0;
        border-bottom: 1px solid $light-color3;
        margin-block-end: rem(14px);
        font-weight: 600;

        display: none;

        @include for-medium-layout {
          display: flex;
        }
      }
    }

    .cmp-preview {
      margin-block-end: em(14px);
      transition: transform 0.3s;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 3px;
      }

      &:hover {
        transform: translateY(rem(-3px));
      }
    }

    .el-editor-inner {
      // padding: rem(18px);
      padding: rem(18px) em(98px) rem(18px) rem(18px);
      // max-width: rem(300px);
      margin: 0 auto;
      overflow-y: auto;
      height: 48vh;
      // background-color: #251dc0;

      @include for-medium-layout {
        height: 85vh;
        max-width: rem(300px);
        padding: rem(18px) em(30px) rem(18px) rem(4px);
      }

      .extra-tools {
        font-size: rem(28px);
        justify-content: center;
        align-items: center;
        padding-block-end: rem(12px);
        margin-block-end: rem(8px);
        border-bottom: 1px solid $light-color3;

        .tool {
          cursor: pointer;

          &:first-child {
            margin-inline-end: rem(12px);
          }
        }
      }

      .box {
        margin-block-end: rem(8px);
        max-width: 280px;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          display: flex;
          align-items: center;
        }

        .ant-slider-track {
          background-color: #1971c2;
        }

        .title {
          margin-block-end: rem(5px);
          min-width: 42%;
        }
      }
    }

    .tool-bar-theme {
      overflow-y: auto;
      height: 80vh;
      // height: 100%;
    }
  }
}