.tool-bar {
  &-nav {
    border-right: 1px solid $light-color3;
    padding: em(10px);
    padding-top: em(22px);
    z-index: 20;
    background-color: #fff;

    li {
      margin-block-end: em(28px);
      border-radius: 50%;
      padding: em(10px);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #74c1fc79;
      }

      .icon {
        cursor: pointer;
        font-size: em(28px);
        color: rgb(65, 60, 60);
      }
    }
  }

  &-actions {
    border-bottom: solid 2px #f1f3f5;
    border-right: 1px solid $light-color3;
    position: relative;
    // transform: translateX(-100%);
    width: 0;
    overflow-y: hidden;
    overflow-x: hidden;

    transition: all 0.3s;
    background-color: #fff;

    &.open-section {
      width: rem(500px);
    }

    &.open-edit {
      width: rem(325px);
    }

    &__header {
      border-top: #1971c2 5px solid;
      border-bottom: solid 1px #f1f3f5;
      padding: rem(6px) rem(16px);
      font-size: rem(12px);
      font-family: Roboto-Bold, sans-serif;
    }

    &__labels {
      padding: em(15px) rem(18px);
      background-color: #f7f8f8;
      width: rem(250px);
      // justify-content: flex-start;
    }

    &__label {
      margin-block-end: rem(12px);

      &:first-child {
        padding: em(15px) 0;
        border-bottom: 1px solid $light-color3;
        margin-block-end: rem(14px);
        font-weight: 600;
      }

      &-text {
        padding: rem(5px) rem(8px);
        cursor: pointer;

        &:hover {
          border-radius: rem(20px);
          background-color: #74c1fc79;
          color: #228be6;
        }

        &.selected {
          border-radius: rem(20px);
          background-color: #74c1fc79;
          color: #228be6;
        }
      }
    }

    &__options {
      overflow-y: scroll;
      height: 85vh;
      padding: em(15px) rem(18px);
      width: 100%;
      &-title {
        padding: em(15px) 0;
        border-bottom: 1px solid $light-color3;
        margin-block-end: rem(14px);
        font-weight: 600;
      }
    }

    .cmp-preview {
      margin-block-end: em(14px);
      transition: transform 0.3s;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 3px;
      }

      &:hover {
        transform: translateY(rem(-3px));
      }
    }

    .el-editor-inner {
      padding: rem(18px);
      max-width: rem(300px);
      margin: 0 auto;

      .box {
        margin-block-end: rem(8px);

        .title {
          margin-block-end: rem(5px);
        }
      }
    }
  }
}
