.tool-bar {
  position: relative;

  &-nav__mobile {
    @include for-medium-layout {
      display: none;
    }

    &__wrapper {
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 20;
      width: 100vw;
      max-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5px;

      .mobile-menu-btn {
        z-index: 80;
        border-radius: 50%;
        background-color: $primary-color;
        padding: rem(10px);
        transition: transform 0.2s;
        font-size: rem(18px);
        color: $light-color;
        position: relative;
        transition: padding 0.2;

        .btn-icon {
          padding: 0;
          margin: 0;
          padding: 0 6px;
        }

        .mobile-icon {
          display: none;
        }

        &.open {
          padding: rem(80px) rem(20.4px);
          transition: padding 0.2s;

          .btn-icon {
            position: relative;
            bottom: 0;
            right: -67px;
            z-index: 200;
          }

          .mobile-icon {
            display: inline-block;
          }

          .mobile-icon {
            font-size: 21px;
            color: #ffffff;
            border-radius: 50%;
            padding: 5px 12px;
          }

          .mobile-icon.add {
            box-shadow: 0px 0px 3px 0px #f3f3f3 inset;
            position: relative;
            bottom: 41px;
            right: 119px;
          }

          .mobile-icon.pallete {
            box-shadow: 0px 0px 3px 0px #f3f3f3 inset;
            position: relative;
            bottom: 70px;
            right: 15px;
          }

          .mobile-icon.edit {
            box-shadow: 0px 0px 3px 0px #f3f3f3 inset;
            position: relative;
            bottom: 42px;
            right: -87px;
          }
        }
      }

      .showScreen {
        display: block;
      }
    }
  }

  &-nav {
    display: none;

    @include for-medium-layout {
      display: flex;
      border-right: 1px solid $light-color3;
      padding: em(10px);
      padding-top: em(12px);
      z-index: 20;
      background-color: #fff;

      .top,
      .bottom {
        padding-bottom: em(42px);

        li {
          margin-block-end: em(28px);
          border-radius: 50%;
          padding: em(12px) em(10px) em(8px) em(10px);
          text-align: center;

          &:hover {
            background-color: rgba($primary-color, 35%);
            color: $light-color;
          }

          &.active {
            background-color: rgba($primary-color, 35%);
          }

          .icon {
            cursor: pointer;
            font-size: em(24px);
            color: rgb(63, 65, 60);
          }
        }
      }
    }
  }

  &-actions {
    border-bottom: solid 2px #f1f3f5;
    border-right: 1px solid $light-color3;
    width: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;

    // mobile
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 200;
    height: 0;
    width: 100vw;
    transition: all 0.3s;

    @include for-medium-layout {
      position: static;
      height: initial;
      width: 0;
    }

    &.open-section {
      width: 100vw;
      height: rem(400px);
      transition: all 0.3s;

      @include for-medium-layout {
        width: rem(550px);
        height: initial;
      }
    }

    &.open-edit {
      //mobile
      width: 100vw;
      height: rem(400px);

      @include for-medium-layout {
        width: rem(325px);
        height: initial;
      }
    }

    &__header {
      border-top: $primary-color 5px solid;
      border-bottom: solid 1px #f1f3f5;
      padding: rem(6px) rem(16px);
      align-items: center;
      .inner {
        .undo {
          margin-inline-end: rem(10px);
          font-size: rem(16px);
        }
      }
      h2 {
        font-family: Roboto-Bold, sans-serif;
        // margin-inline-end: rem(180px);
      }

      .close {
        font-size: rem(12px);
        cursor: pointer;
        padding-bottom: (5px);
      }
    }

    &__labels {
      width: 120px;
      background-color: #f7f8f8;

      display: none;

      @include for-medium-layout {
        display: flex;
      }
    }

    &__label {
      width: 200px;

      padding: rem(8px) em(10px);
      border-left: 4px solid transparent;
      margin-block-end: em(8px);

      &.selected {
        border-color: $primary-color;
      }

      &:first-child {
        padding: em(18px) em(15px);
        border-bottom: 1px solid $light-color3;
        margin-block-end: 0;
        font-weight: 600;
      }

      &-text {
        display: block;
        cursor: pointer;
        min-width: 100%;

        &:hover {
          color: $primary-color;
        }

        &.selected {
          color: $primary-color;
        }
      }
    }

    &__options {
      overflow-y: auto;
      height: 85vh;
      padding: em(15px) rem(18px);
      padding-top: 0;
      width: 100%;

      &-filter {
        padding: em(8px) 0;
        border-bottom: 1px solid $light-color3;
        margin-block-end: rem(8px);

        .select-filter {
          width: 100%;
        }

        @include for-medium-layout {
          display: none;
        }
      }

      &-title {
        padding: em(18px) 0;
        border-bottom: 1px solid $light-color3;
        margin-block-end: rem(14px);
        font-weight: 600;

        display: none;

        @include for-medium-layout {
          display: flex;
        }
      }
    }

    .cmp-preview {
      margin-block-end: em(14px);
      transition: transform 0.3s;
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 3px;
      }

      &:hover {
        transform: translateY(rem(-3px));
      }
    }
    .el-editor {
      // padding: rem(18px);
      padding: rem(18px) em(98px) rem(18px) rem(18px);
      // max-width: rem(300px);
      margin: 0 auto;
      overflow-y: auto;
      height: 48vh;
      // background-color: #251dc0;

      @include for-medium-layout {
        height: 85vh;
        max-width: rem(300px);
        padding: rem(18px) em(30px) rem(18px) rem(4px);
      }

      .undo {
        font-size: rem(18px);
        margin-inline-end: rem(16px);
        cursor: pointer;
      }

      &-inner {
        .extra-tools {
          font-size: rem(18px);
          justify-content: flex-end;
          align-items: center;
          padding-block-end: rem(12px);
          margin-block-end: rem(8px);
          border-bottom: 1px solid $light-color3;

          .tool {
            cursor: pointer;

            &:first-child {
              margin-inline-end: rem(12px);
            }
          }
        }

        .box {
          margin-block-end: rem(8px);
          max-width: 280px;

          // &:nth-of-type(1),
          // &:nth-of-type(2) {
          //   display: flex;
          //   align-items: center;
          // }

          .ant-slider-track {
            background-color: #1971c2;
          }

          .title {
            margin-block-end: rem(5px);
            min-width: 42%;
          }
        }
      }
    }

    .tool-bar-theme {
      overflow-y: auto;
      height: 80vh;
      // height: 100%;
    }
  }
}
