.wap-list {
  height: 100vh;
  width: 100vw;

  &__inner {
    margin-top: em(50px);
    width: 100%;

    .headings {
      text-align: left;
      font-family: Nunito-regular;
      max-width: 500px;
      line-height: em(48px);

      .template-heading {
        font-size: em(42px);
      }

      .template-subheading {
        margin-block-end: em(28px);
      }
    }

    .wap-list-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: em(24px);
      min-width: 100%;
      margin: 0 auto;

      .wap-preview {
        overflow-y: hidden;

        &-img {
          position: relative;
        }

        &-btns {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: rgba($light-color, 70%);
          // background-color: rgba($light-color, 70%);

          transition: all 0.3s;
          font-weight: 500;
          font-family: Roboto-Medium, sans-serif;

          a {
            display: inline-block;
            width: rem(130px);
            font-size: rem(18px);
            padding: rem(10px) rem(18px);
            cursor: pointer;
            border-radius: 24px;
            text-align: center;
            font-family: Nunito-regular;
            border: 1px solid #be123c;
          }

          a:first-child {
            background-color: #be123c;
            color: $light-color;
            margin-block-end: rem(16px);

            &:hover {
              border: 1px solid #be123c;
              // background-color: transparent;
              background-color: $light-color;
              color: #be123c;
            }
          }

          a:last-child {
            background-color: $light-color;
            color: #be123c;
            border: 1px solid #be123c;

            &:hover {
              background-color:#c7234ced;
              color: $light-color;
            }
          }
        }

        &:hover .wap-preview-btns {
          height: 100%;
          opacity: 1;
        }
      }

      img {
        aspect-ratio: 16/9;
        display: block;
        width: 100%;
        box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.08);
        border-radius: rem(9px);
        // margin-block-end: rem(10px);
      }

      p {
        font-weight: 500;
        font-size: rem(18px);
        color: $dark-color3;
      }
    }
  }
}
