.wap-list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: em(57px);

  .wap-preview {
    overflow-y: hidden;

    &-img {
      position: relative;
      width: 100%;
    }

    &-btns {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba($light-color, 70%);
      transition: all 0.3s;
      font-weight: 500;
      font-family: Roboto-Medium, sans-serif;

      a {
        display: inline-block;
        width: rem(150px);
        font-size: rem(18px);
        padding: rem(10px) rem(18px);
        cursor: pointer;
        border-radius: 50px;
        text-align: center;
      }

      a:first-child {
        background-color: #4dabf7;
        color: $light-color;
        margin-block-end: rem(16px);

        &:hover {
          background-color: rgba(#4dabf7, 90%);
          // color: #4dabf7;
          box-shadow: inset 2px #4dabf7;
        }
      }

      a:last-child {
        background-color: $light-color;
        color: #4dabf7;
        border: solid 1px #4dabf7;

        &:hover {
          background-color: #4dabf7;
          color: $light-color;
        }
      }
    }

    &:hover .wap-preview-btns {
      height: 100%;
      opacity: 1;
    }
  }

  img {
    aspect-ratio: 16/9;
    display: block;
    width: 25rem;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.08);
    border-radius: rem(9px);
    margin-block-end: rem(10px);
  }

  p {
    font-weight: 500;
    font-size: rem(18px);
    color: $dark-color3;
    // margin: 0 auto;
    // text-align: center;
    // margin-top: 15px;
  }
}
