.img-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: rem(25px);
  grid-row-gap: rem(45px);
  justify-items: center;

  img {
    aspect-ratio: 16/9;
    display: block;
    width: 25rem;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.08);
    border-radius: rem(3px);
  }

  p {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
  }
}

.wap-header {

  .wap-header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wap-nav {

      .hamburger {
        font-size: rem(20px);

        @include for-narrow-layout {
          @media (min-width: $break-narrow) {
            //1200
            display: none;
          }
        }
      }

      .screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000e5;
      }

      .nav-bar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        // background-color: rgb(73, 73, 73);
        height: 100vh;
        padding: em(20px);
        transform: translateX(100%);
        transition: transform 0.5s;

        &.open {
          transform: translateX(0);
          transition: transform 0.5s;
        }

        .nav-link {
          margin-block-end: em(30px);

          @include for-narrow-layout {
            @media (min-width: $break-narrow) {
              //1200
              margin-block-end: 0;
            }
          }
        }

        @include for-narrow-layout {
          @media (min-width: $break-narrow) {
            //1200
            transform: translateX(0);
            position: static;
            display: flex;
            flex-direction: row;

            height: 100%;
            align-items: center;
            background-color: transparent;

          }
        }
      }
    }
  }
}