.color-picker {
  display: grid;
  max-width: rem(200px);
  grid-template-columns: repeat(6, 1fr);
  gap: 0.2rem;
  padding: 0.3rem;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(20px);
  }
  div,
  label {
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    border: solid 1px var(--gray1);
    transition: transform 0.3s;
    border: 1px solid $light-color3;
    cursor: pointer;

    &:hover {
      transform: scale(110%);
    }
  }
}
