* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba($dark-color2, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: rem(10px);
    background-color: $light-color5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba($dark-color2, 0.3);
    background-color: $light-color5;
  }
}

// main-class main-class-header main-class-img main-class-log &-header

html {
  font-family: Roboto-Regular, sans-serif;
}

body {
  overflow-x: hidden;
}

ul,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: auto;
}

iframe {
  width: 100%;
}
.noHover {
  pointer-events: none;
}

[contenteditable]:focus {
  outline: 2px dashed $dark-color2;
}
// .btn {
//   @include btn;

//   &-dark {
//     @include btn($type: dark);
//   }

//   &-dark-small {
//     @include btn($type: dark, $padding: rem(5px) rem(10px));
//   }

//   &-light {
//     @include btn($type: light);
//   }
// }
