* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto-Regular, sans-serif;
}

body {
  background-color: $light-color1;
}

ul,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.noHover {
  pointer-events: none;
}

// .btn {
//   @include btn;

//   &-dark {
//     @include btn($type: dark);
//   }

//   &-dark-small {
//     @include btn($type: dark, $padding: rem(5px) rem(10px));
//   }

//   &-light {
//     @include btn($type: light);
//   }
// }
