.main-layout {
  display: grid;
  grid-template-columns: $layoutPadding 1fr $layoutPadding;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  @include for-narrow-layout {
    @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    @include layoutGTC($break-normal);
  }

  @include for-wide-layout {
    @include layoutGTC($break-wide);
  }
}

.waps-main-layout {
  max-width: rem(1600px);
}

.betaa-layout {
  display: grid;
  grid-template-columns: 10px 1fr 10px;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  .medium & {
    grid-template-columns: 50px 1fr 50px;
  }

  .normal & {
    grid-template-columns: 120px 1fr 120px;
  }

  .wap-details & {

    @include for-medium-layout {
      grid-template-columns: 50px 1fr 50px;

    }

    @include for-normal-layout {
      // grid-template-columns: $layoutBetaa 1fr $layoutBetaa;
      grid-template-columns: 120px 1fr 120px;
    }
  }



}