.header-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  @include for-small-layout {
    grid-template-columns: 1fr 520px 1fr;
  }

  @include for-medium-layout {
    grid-template-columns: 1fr 780px 1fr;
  }

  @include for-narrow-layout {
    grid-template-columns: 1fr 980px 1fr;
  }

  @include for-normal-layout {
    grid-template-columns: 1fr 1340px 1fr;
  }

  @include for-wide-layout {
    grid-template-columns: 1fr 1400px 1fr;
  }

}

.main-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  @include for-small-layout {
    grid-template-columns: 1fr 480px 1fr;
  }

  @include for-medium-layout {
    grid-template-columns: 1fr 680px 1fr;
  }

  @include for-narrow-layout {
    grid-template-columns: 1fr 960px 1fr;
  }

  @include for-normal-layout {
    grid-template-columns: 1fr 1100px 1fr;
  }

  @include for-wide-layout {
    grid-template-columns: 1fr 1200px 1fr;
  }

}

.waps-main-layout {
  max-width: rem(1600px);
}

.betaa-layout {
  display: grid;
  grid-template-columns: 10px 1fr 10px;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  .medium & {
    grid-template-columns: 50px 1fr 50px;
  }

  .normal & {
    grid-template-columns: 120px 1fr 120px;
  }

  .wap-details & {
    @include for-medium-layout {
      grid-template-columns: 50px 1fr 50px;
    }

    @include for-normal-layout {
      grid-template-columns: 1fr 1280px 1fr
    }
  }
}

.design-layout {
  display: grid;
  background-color: #dddbd9;

  grid-template-columns:20px 1fr 20px;
  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  .wap-details & {
    @include for-small-layout {
      grid-template-columns: 1fr 580px 1fr;
      >* {
        grid-column: 2;
      }
    }

    @include for-medium-layout {
      grid-template-columns: 1fr 820px 1fr;
    }

    @include for-narrow-layout {

      grid-template-columns: 1fr 950px 1fr;
    }

    @include for-normal-layout {
      grid-template-columns: 1fr 1150px 1fr;
    }

    @include for-wide-layout {

      grid-template-columns: 1fr 1000px 1fr;
    }
  }

}
.cake-layout {
  display: grid;

  grid-template-columns:20px 1fr 20px;
  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  .wap-details & {
    @include for-small-layout {
      grid-template-columns: 1fr 520px 1fr;
      >* {
        grid-column: 2;
      }
    }

    @include for-medium-layout {
      grid-template-columns: 1fr 820px 1fr;
    }

    @include for-narrow-layout {

      grid-template-columns: 1fr 960px 1fr;
    }

    @include for-normal-layout {
      grid-template-columns: 1fr 1260px 1fr;
    }

    @include for-wide-layout {
      grid-template-columns: 1fr 1470px 1fr;
    }
  }

}

.dashboard-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }
}