// @font-face {
//   font-family: 'Roboto-Regular';
//   src: url('@/styles/fonts/Roboto/Roboto-Regular.ttf');
// }

// @font-face {
//   font-family: 'Roboto-Bold';
//   src: url('@/styles/fonts/Roboto/Roboto-Bold.ttf');
// }

// @font-face {
//   font-family: 'Roboto-Medium';
//   src: url('@/styles/fonts/Roboto/Roboto-Medium.ttf');
// }

// @font-face {
//   font-family: 'Chewy';
//   src: url('@/styles/fonts/Chewy/Chewy-Regular.ttf');
// }
@font-face {
  font-family: 'Rubik-Regular';
  src: url('@/styles/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('@/styles/fonts/Rubik/Rubik-Medium.ttf');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('@/styles/fonts/Rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('@/styles/fonts/Rubik/Rubik-SemiBold.ttf');
}
