// Roboto
@font-face {
  font-family: 'Roboto-Regular';
  src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('@/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('@/assets/fonts/Roboto/Roboto-Medium.ttf');
}

// Rubik
@font-face {
  font-family: 'Rubik-Regular';
  //   src: url('@/assets/styles/fonts/Rubik/Rubik-Regular.ttf');
  src: url('@/assets/fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('@/assets/fonts/Rubik/Rubik-Medium.ttf');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('@/assets/fonts/Rubik/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('@/assets/fonts/Rubik/Rubik-SemiBold.ttf');
}

// Oswald

@font-face {
  font-family: Oswald-regular;
  src: url('@/assets/fonts/Oswald/Oswald-regular.ttf');
}

@font-face {
  font-family: Oswald-bold;
  src: url('@/assets/fonts/Oswald/Oswald-bold.ttf');
}

@font-face {
  font-family: Oswald-light;
  src: url('@/assets/fonts/Oswald/Oswald-light.ttf');
}
@font-face {
  font-family: Oswald-extra-light;
  src: url('@/assets/fonts/Oswald/Oswald-ExtraLight.ttf');
}

// Nunito 

@font-face {
  font-family: Nunito-regular;
  src: url(@/assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: Nunito-bold;
  src: url(@/assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: Nunito-light;
  src: url(@/assets/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}


// Noto

@font-face {
  font-family: NotoSans-regular;
  src: url(@/assets/fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans-bold;
  src: url(@/assets/fonts/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: NotoSans-light;
  src: url(@/assets/fonts/Noto_Sans/NotoSans-Light.ttf);
}

// Clarkson 
@font-face {
  font-family: clarkson;
  src: url(@/assets/fonts/clarkson/ClarksonScript-Regular.otf);
}