// COLORS
$primary-color: #e0943d;
$primary-color-dark: darken(#de8c2e, 8%);
$primary-color-light: lighten(#de8c2e, 15%);

$secondary-color: #375aad;
$secondary-color-dark: darken(#375aad, 8%);
$secondary-color-light: lighten(#375aad, 10%);

$dark-color: #000000;
$dark-color1: #212529;
$dark-color2: #333;
$dark-color3: #343a40;
$dark-color4: #525252;
$dark-color5: #495057;
$dark-color7: #9a9a9a;

$light-color: #ffffff;
$light-color1: #f8f9fa;
$light-color2: #f1f3f5;
$light-color3: #e9ecef;
$light-color4: #eeeeee;
$light-color5: #adb5bd;

// LAYOUT
$layoutPadding: 40px;
$layoutBetaa: 146px;

// LAYOUT BREAKPOINTS
$break-mobile: 580px;
$break-small: 620px;
$break-medium: 860px;
$break-narrow: 1024px;
$break-normal: 1300px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
