// COLORS
$primary-color: #e0943d;
$primary-color-dark: darken(#de8c2e, 8%);
$primary-color-light: lighten(#de8c2e, 15%);

$secondary-color: #375aad;
$secondary-color-dark: darken(#375aad, 8%);
$secondary-color-light: lighten(#375aad, 10%);

$dark-color: #000000;
$dark-color1: #212529;
$dark-color2: #343a40;
$dark-color3: #495057;
$dark-color4: #333;

$light-color: #ffffff;
$light-color1: #f8f9fa;
$light-color2: #f1f3f5;
$light-color3: #e9ecef;
$light-color4: rgb(238, 238, 238);
$light-color5: rgb(154, 154, 154);

// LAYOUT
$layoutPadding: 40px;
$layoutBetaa: 350px;

// LAYOUT BREAKPOINTS
$break-small: 700px;
$break-medium: 860px;
$break-narrow: 1024px;
$break-normal: 1200px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
