.betaa-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: rem(120px);
    height: 38rem;
    justify-items: center;

    .card-content {
        max-width: rem(550px);
    }

    .card {
        &-img {
            border-radius: rem(20px);
            width: 40rem;

        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-heading {
            /*   margin-top: rem(25px); */
            font-size: rem(41px);
        }

        &-subheading {
            font-size: rem(20px);
            margin-top: rem(18px);
            padding-bottom: rem(32px);
            border-bottom: 1.5px solid $light-color5;

        }

        &-tag {
            background-color: #f7f4fd;
            margin-top: rem(25px);
            font-weight: 700;
            font-size: rem(16px);
            margin-bottom: rem(10px);
            color: #763de7;
            width: max-content;
            padding: 0.8rem;
            border-radius: rem(22px)
        }

        &-list {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            margin-top: rem(32px);
            font-size: rem(18px);
            font-weight: 400;
            grid-row-gap: 20px;

            li {
                justify-content: center;
                justify-items: stretch;
                align-content: stretch;
                grid-column-gap: 20px;

                img {
                    width: 4rem;
                    margin: 15px;

                }

            }
        }

        /*         &-list {
            padding-top: rem(58px);
            display: flex;
            flex-wrap: wrap;
            font-size: rem(22px);
            img{
                width: 75px;
                padding-right: rem(22px);
                padding-left: rem(15px);
            }

        }
 */
    }
}