.cake {
    &-header {
        background-color: rgb(255 255 255);
        font-family: Oswald-light;
        letter-spacing: 2px;
        padding: rem(35px) 0;
    }

    &-nav {
        a {
            font-family: Oswald-light;
            color: $dark-color;
            display: inline-block;
        }

        li {
            &:not(:last-child) {
                margin-right: rem(25px);
            }
        }
    }

    &-hero {
        width: 100%;
        margin-block-end: rem(20px);

        .hero-inner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: rem(15px);
            max-height: 50vh;
            overflow-y: hidden;

            img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                max-height: 680px;
            }

            .img1 {
                order: 1;
            }

            .text-box {
                order: 0;
                font-family: Oswald-light;
                background-color: rgb(247 233 228);
                font-size: rem(35px);
                height: 100%;
                text-align: center;
                order: 1;
                padding: rem(35px);

                h1 {
                    margin-bottom: rem(75px);
                    margin-top: rem(65px);
                }

                .btn1 {
                    font-weight: 700;
                    color: $dark-color;
                    background-color: $light-color;
                    padding: rem(15px);
                    border-radius: rem(15px);
                }
            }
        }
    }

    &-txt-about {

        .__inner {
            background-color: blue;
            margin-bottom: rem(25px);
            letter-spacing: rem(2px);
            font-size: rem(22px);
            background-image: linear-gradient(56deg, #ffffff 46.67%, #f7e9e4 46.67%, #f7e9e4 50%, #ffffff 50%, #ffffff 96.67%, #f7e9e4 96.67%, #f7e9e4 100%);
            background-size: 72.37px 107.30px;
            padding: rem(60px);
            text-align: center;
            font-family: Oswald-light;
        }
    }

    &-gallery-about {

        .imgs-container {
            display: flex;
            gap: rem(20px);
        }

        .img1 {
            width: 50%;
        }

        .img2 {
            width: 50%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-txt-follow {
        padding: rem(55px);
        text-align: center;
        font-size: rem(35px);
        font-family: Oswald-light;
    }

    &-gallery-options {

        .imgs-container {
            // margin-bottom: rem(55px);
            gap: rem(6px);
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;

            img {
                width: rem(200px);
                height: rem(200px);
                object-fit: cover;
            }
        }

    }

    &-container {
        background-color: #f7e9e4;

        .wap-container__inner {
            display: flex;
            flex-direction: row;

            .cake-contact {
                font-family: Oswald-light;

                padding: rem(65px);
                justify-items: center;

                .heading {
                    font-family: Oswald-light;
                    font-size: rem(45px);
                    margin-bottom: rem(35px);
                }

                .sub-heading {
                    margin-bottom: rem(55px);
                    font-size: rem(23px);
                    letter-spacing: 2px;
                }

                .form-container {
                    .contact-form {

                        display: flex;
                        flex-direction: column;

                        input,
                        textarea {
                            outline-style: none;
                            cursor: pointer;
                            font-size: rem(20px);
                            margin-bottom: rem(35px);
                            width: rem(550px);
                            background-color: unset;
                            border: none;
                            border-bottom: 1px solid $dark-color;
                        }
                    }

                    .contact-submit {
                        width: rem(550px);
                        height: rem(40px);
                        background-color: $dark-color1;
                        color: $light-color;
                        font-size: rem(23px);
                    }
                }
            }

            img {
                width: rem(350px);
            }
        }

    }

    /*     &-contact {
        font-family: Oswald-light;

        padding: rem(65px);
        justify-items: center;
        background-color: #f7e9e4;

        .heading {
            font-family: Oswald-light;
            font-size: rem(45px);
            margin-bottom: rem(35px);
        }

        .sub-heading {
            margin-bottom: rem(55px);
            font-size: rem(23px);
            letter-spacing: 2px;
        }

        .form-container {
            .contact-form {

                display: flex;
                flex-direction: column;

                input,
                textarea {
                    outline-style: none;
                    cursor: pointer;
                    font-size: rem(20px);
                    margin-bottom: rem(35px);
                    width: rem(550px);
                    background-color: unset;
                    border: none;
                    border-bottom: 1px solid $dark-color;
                }
            }

            .contact-submit {
                width: rem(550px);
                height: rem(40px);
                background-color: $dark-color1;
                color: $light-color;
                font-size: rem(23px);
            }
        }
    }
 */
}