.design {

    &-header {
        height: 6rem;

        .wap-nav {
            a {
                font-size: 1rem;
                color: #332e29;
                font-family: Oswald-regular;
            }

            :not(:last-child) {
                margin-right: 1rem;
            }
        }

        .logo {
            font-size: 1.6rem;
            font-family: Oswald-bold;
            color: #332e29;
            line-height: 1.2;
        }
    }

    &-hero {
        justify-items: center;

        .hero-inner {

            .medium & {
                height: rem(550px);
                background-color: $light-color;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr 1fr 1fr;
                height: rem(580px);
                margin-bottom: rem(45px);
                grid-template-areas:
                    "img4 img4 img4 text-box text-box text-box"
                    "img4 img4 img4 text-box text-box text-box"
                    "img4 img4 img4 img1 img2 img3";

                .img1,
                .img2,
                .img {
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                .img1 {
                    grid-area: img1;
                }

                .img2 {
                    grid-area: img2;
                }

                .img3 {
                    grid-area: img3;
                }

                .img4 {
                    grid-area: img4;
                    object-fit: contain;
                }

                .text-box {
                    grid-area: text-box;
                }

                .text-box {
                    color: #332e29;
                    padding: rem(68px);

                    .heading {
                        font-size: 2rem;
                        margin-bottom: rem(35px);
                        font-family: Oswald-bold;
                    }

                    .sub-heading {
                        font-size: rem(20px);
                    }
                }

            }

            .wap-details & {
                @include for-medium-layout {
                    background-color: $light-color;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: 1fr 1fr 1fr;
                    height: rem(580px);
                    margin-bottom: rem(45px);
                    grid-template-areas:
                        "img4 img4 img4 text-box text-box text-box"
                        "img4 img4 img4 text-box text-box text-box"
                        "img4 img4 img4 img1 img2 img3";

                    .img1,
                    .img2,
                    .img {
                        height: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .img1 {
                        grid-area: img1;
                    }

                    .img2 {
                        grid-area: img2;
                    }

                    .img3 {
                        grid-area: img3;
                    }

                    .img4 {
                        grid-area: img4;
                        object-fit: contain;
                    }

                    .text-box {
                        grid-area: text-box;
                    }

                    .text-box {
                        color: #332e29;
                        padding: rem(55px);

                        .heading {
                            font-size: 2rem;
                            margin-bottom: rem(35px);
                            font-family: Oswald-bold;
                        }

                        .sub-heading {
                            font-size: rem(20px);
                        }
                    }

                }
            }

            .wide & {

                .img1,
                .img2,
                .img3 {
                    height: rem(250px);
                }
            }

            .wap-details & {
                @include for-wide-layout {

                    .img1,
                    .img2,
                    .img3 {
                        height: rem(250px);

                    }
                }
            }

        }

        .text-box {
            color: #332e29;
            text-align: center;

            .heading {
                font-size: 3rem;
                margin-bottom: rem(35px);
                font-family: Oswald-bold;
            }

            .sub-heading {
                font-family: Oswald-extra-light;
                font-weight: unset;
                font-size: rem(30px);
                margin-bottom: rem(45px);
            }
        }

        img {
            width: 100%;
            height: rem(650px);
            object-fit: cover;
            margin-bottom: rem(35px);
        }

        .img1 {
            display: none;
        }

        .medium & {
            .img1 {
                display: block;
            }
        }

        .wap-details & {
            @include for-medium-layout {
                .img1 {
                    display: block;
                }
            }
        }
    }

    &-container {
        .wap-container__inner {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-top: rem(25px);
            gap: rem(10px);

            .medium & {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .wap-details & {
                @include for-medium-layout {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }

            .card-content {
                background-color: $light-color;
                height: rem(260px);
                padding: rem(35px);
                text-align: center;
                margin-bottom: rem(40px);

                .icon {
                    height: rem(40px);
                    width: rem(40px);
                    margin-bottom: rem(15px);
                }

                .card {
                    &-heading {
                        font-family: Oswald-bold;
                        margin-bottom: rem(15px);
                    }

                    &-subheading {
                        font-size: rem(19px);
                        font-family: Oswald-extra-light;
                        font-weight: lighter;
                    }
                }
            }

        }

    }

    &-paragraph.design-layout.design-txt {
        background-color: $light-color;
        padding: 6.25rem 1rem;

        .text1 {
            font-family: Oswald-bold;
            text-align: center;
            font-size: rem(45px);

        }

        .text2 {
            font-family: Oswald-extra-light;
            text-align: center;
            font-weight: lighter;
            font-size: rem(20px);

        }
    }

    &-plan-ideas.design-container {
        .medium & {
            .wap-container__inner {
                gap: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr;
                height: rem(490px);
                margin-bottom: rem(350px);
                grid-template-areas:
                    "img1  design-ideas-txt"
                    " design-house-txt img2";


                .img1 {
                    grid-area: img1;
                }

                .img2 {
                    grid-area: img2;
                }

                .text1 {
                    font-family: Oswald-bold;
                    font-weight: 100;
                    margin-bottom: rem(25px);
                }

                .text2 {
                    font-family: Oswald-extra-light;
                    font-weight: lighter;
                }

                img {
                    height: rem(380px);
                    object-fit: cover;
                }
            }
        }

        .wap-details & {
            @include for-medium-layout {
                .wap-container__inner {
                    gap: 0;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr 1fr;
                    height: rem(490px);
                    margin-bottom: rem(350px);
                    grid-template-areas:
                        "img1  design-ideas-txt"
                        " design-house-txt img2";


                    .img1 {
                        grid-area: img1;
                    }

                    .img2 {
                        grid-area: img2;
                    }

                    .text1 {
                        font-family: Oswald-bold;
                        font-weight: 100;
                        margin-bottom: rem(25px);
                    }

                    .text2 {
                        font-family: Oswald-extra-light;
                        font-weight: lighter;
                    }

                    img {
                        height: rem(400px);
                        object-fit: cover;
                    }
                }
            }
        }

        .design-ideas-txt {
            grid-area: design-ideas-txt;
            padding: rem(75px);
            text-align: center;
            background-color: #332e29;
            color: $light-color;
            font-family: Oswald-extra-light;
            font-weight: lighter;

            .text1 {
                font-size: rem(35px);
            }
        }

        .design-house-txt {
            margin-bottom: rem(25px);
            grid-area: design-house-txt;
            padding: rem(75px);
            text-align: center;
            background-color: $light-color;
            font-family: Oswald-extra-light;
            font-weight: lighter;

            .medium & {
                margin-bottom: rem(0px);

            }

            .wap-details & {
                @include for-medium-layout {
                    margin-bottom: rem(0px);

                }
            }

            .text1 {
                font-size: rem(35px);
            }

        }

        img {
            width: 100%;
        }
    }

    &-home {
        text-align: center;
        padding-top: rem(45px);

        .text1 {
            font-family: Oswald-bold;
            margin-bottom: rem(25px);
            font-size: rem(45px);
        }

        .text2 {
            font-family: Oswald-extra-light;
            font-weight: lighter;
            margin-bottom: rem(25px);
        }
    }

    &-home-gallery {
        .imgs-container {
            img {
                width: 100%;
                height: 550px;
                margin-bottom: rem(15px);
                object-fit: cover;

            }
        }

        .medium & {
            .imgs-container {
                display: flex;
                gap: rem(10px);
                justify-content: center;
                max-height: rem(400px);
                margin-bottom: rem(10px);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .img1 {
                    width: rem(550px);
                }

                .img2 {
                    width: rem(550px);
                }
            }

        }


        .wap-details & {
            @include for-medium-layout {
                .imgs-container {
                    /*   margin-bottom: rem(45px); */
                    display: flex;
                    gap: rem(10px);
                    justify-content: center;
                    max-height: rem(400px);
                    margin-bottom: rem(10px);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .img1 {
                        width: rem(550px);
                    }

                    .img2 {
                        width: rem(550px);
                    }
                }
            }

        }
    }

    &-cards {
        .wap-container__inner {
            margin-top: 0;

            .design-project-card.wap-card {
                margin-bottom: rem(21px);
                background-color: $light-color;
                height: rem(450px);

                .normal & {
                    width: rem(650px);
                    height: rem(380px);

                }

                .wide .wap-details & {
                    @include for-normal-layout {
                        width: rem(550px);
                        height: rem(380px);
                    }
                }

                .medium & {
                    width: rem(650px);
                    height: rem(100px);

                }

                .wap-details & {
                    @include for-medium-layout {
                        width: rem(550px);
                        height: rem(410px);
                    }
                }

                .card {
                    &-heading {
                        font-size: rem(45px);
                        text-align: left;
                    }

                    &-subheading {
                        font-size: rem(30px);
                        margin-bottom: rem(25px);
                    }
                }

                p {
                    font-size: rem(15px);
                }
            }
        }
    }

    &-footer.design-container {
        /*  padding: rem(85px); */
        /*   height: rem(600px); */
        justify-items: center;
        background-color: #332e29;
        padding: rem(25px);
        /* margin-top: rem(175px); */
    }

    &-contact.design-layout {
        background-color: #332e29;
        font-family: Oswald-extra-light;
        display: flex;
        text-align: center;
        flex-direction: column;
        color: $light-color;
        border: 2px solid $light-color;
        width: rem(500px);
        height: rem(450px);

        /*         .small & {
            width: rem(650px);
            height: rem(100px);

        }

        .wap-details & {
            @include for-small-layout {
                width: rem(600px);
                height: rem(410px);
            }
        }
 */

        input,
        textarea {
            width: rem(350px);
            height: rem(40px);
            margin-bottom: rem(25px);
            background-color: unset;
            border: 2px solid $light-color;
            font-size: rem(25px);
            padding: rem(15px);


            /*             .narrow & {
                width: rem(350px);
            }
            .wap-details & {
                @include for-narrow-layout {
                    width: rem(350px);

                }
            }
 */
        }

        textarea {
            height: rem(100px);
        }

        .heading {
            padding: rem(25px);
            font-size: rem(35px);
            font-family: Oswald-bold;
        }

        .contact-submit {
            width: rem(150px);
            color: #332e29;
            border-radius: 3px;
            background-color: $light-color;
            font-size: rem(25px);
            height: rem(45px);

        }

        .map-container {
            height: rem(350px);
        }
    }
}