.omnifood {
  &-header {
    background-color: #fdf2e9;
    height: em(96px);
    position: relative;

    .logo {
      height: em(22px);
    }

    .wap-nav {
      .hamburger {
        color: $dark-color;

      }

      .nav-bar {
        background-color: $light-color;

        .nav-link {
          margin-inline-end: rem(30px);
          font-weight: 500;
          font-size: em(18px);

          &:last-child {
            margin-inline-end: 0;
          }

          a {
            font-family: Rubik-Bold, sans-serif;
            text-decoration: none;
            color: #333;

            .wap-details &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }

  .nav-link:last-child {
    padding: em(12px) em(25px);
    background-color: #e67e22;

    a {
      color: #fff;
    }

    .wap-details &:hover {
      background-color: #cf711f;
    }
  }

  @include for-mobile-layout {
    display: none;
  }

  &-hero {
    background-color: #fdf2e9;
    font-family: Rubik-Medium, sans-serif;
    padding: em(35px) 0 em(50px) 0;


    .hero-inner {
      max-width: em(1300px);
      margin: 0 auto;
      padding: 0 1rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 2.3rem;


      .text-box {

        .heading {
          font-size: em(48px);
          line-height: 1.05;
          margin-bottom: em(24px);
          font-weight: 700;
          color: #333;
          letter-spacing: -0.5px;

          .small {
            margin-bottom: em(15px);
          }

          .wap-details & {
            @include for-small-layout {
              margin-bottom: em(15px);
            }
          }
        }

        .medium & {
          padding: 0 5rem;
          gap: 2.3rem;

        }

        .wap-details & {
          @include for-medium-layout {
            padding: 0 5rem;

          }
        }


        .sub-heading {
          font-family: Rubik-Regular, sans-serif;
          font-size: em(20px);
          line-height: 1.6;
          margin-bottom: em(24px);

          .small & {
            margin-bottom: em(40px);
          }

          .wap-details & {
            @include for-small-layout {
              margin-bottom: em(40px);
            }
          }

        }

        .btn1,
        .btn2 {
          display: inline-block;
          text-decoration: none;
          font-size: em(18px);
          font-weight: 500;
          margin-bottom: rem(15px);
          padding: em(10px) em(18px);
          border-radius: 9px;
          border: none;
          cursor: pointer;
          font-family: inherit;
          transition: all 0.3s;
        }

        .btn1 {
          background-color: #e67e22;
          color: #fff;
          margin-inline-end: rem(12px);

          .wap-details &:hover {
            background-color: #cf711f;
          }
        }

        .btn2 {
          background-color: #fff;
          color: #555;

          .wap-details &:hover {
            background-color: #fdf2e9;
            box-shadow: inset 0 0 0 3px #fff;
          }
        }
      }

      img {
        width: 100%;

        .small & {
          width: 60%;
          justify-self: center;

        }

        .wap-details & {
          @include for-small-layout {
            width: 60%;
            justify-self: center;
          }
        }
      }

      .medium & {
        grid-template-columns: 1fr 1fr;
      }

      .wap-details & {
        @include for-medium-layout {
          grid-template-columns: 1fr 1fr;
          padding: 0;

        }
      }

    }
  }

  &-brand {
    font-family: Rubik-Regular, sans-serif;
    padding: em(15px) em(15px);

    .title {
      font-size: em(14px);
      /* text-transform: uppercase; */
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: rem(24px);
      color: #888;
    }

    .imgs-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;

      img {
        width: 45%;
        filter: brightness(0);
        opacity: 50%;


        &:not(:last-child) {
          margin-inline-end: em(10px);
        }
      }
    }
  }

  &-meals {
    max-width: auto;
    font-family: Rubik-Regular, sans-serif;
    padding: em(60px) 0;
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(1, 0.7fr);

    margin: 0 auto;
    gap: rem(48px);

    .small & {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 em(40px);


    }

    .wap-details & {
      @include for-small-layout {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 em(40px);


      }
    }


    .medium & {
      max-width: em(800px);
      gap: rem(25px);
      grid-template-columns: repeat(3, 1fr);

    }

    .wap-details & {
      @include for-medium-layout {
        max-width: em(800px);
        gap: rem(25px);
        grid-template-columns: repeat(3, 1fr);
      }

    }
  }

  &-meal {
    box-shadow: 0 em(12px) em(24px) rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-1.2rem);
      box-shadow: 0 em(24px) em(48px) rgba(0, 0, 0, 0.06);
    }

    &-list {
      .heading {
        font-weight: 700;
        color: #333;
        letter-spacing: -0.5px;
        font-size: em(30px);
        line-height: 1.2;
        margin-bottom: em(24px);
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: em(16px);
      }
    }

    .card {
      &-content {
        padding: em(48px);
        padding-top: rem(32px);
      }

      &-heading {
        font-size: em(24px);
        color: #333;
        font-weight: 600;
        margin-bottom: em(32px);
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: em(2px);
      }

      &-img {
        width: 100%;
      }
    }
  }

  &-txt {
    grid-column: 1 / -1;
    font-family: Rubik-Bold, sans-serif;

    .text1 {
      display: block;
      font-size: em(16px);
      font-weight: 500;
      color: #cf711f;
      text-transform: uppercase;
      margin-bottom: em(16px);
      letter-spacing: 0.75px;
      margin-top: rem(25px);
    }

    .text2 {
      font-family: Rubik-Medium, sans-serif;
      margin-top: 0;
      margin-bottom: 0.5em;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }

  &-reviews {
    font-family: Rubik-Regular, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: em(48px);
    /*  column-gap: em(80px); */
    padding: em(24px) em(40px);

    .wap-review {
      img {
        width: em(86px);
        border-radius: 50%;
        margin-bottom: em(12px);
      }

      &-text {
        font-size: em(18px);
        line-height: 1.8;
        margin-bottom: em(16px);
      }

      &-author {
        font-size: em(16px);
        color: #6f6f6f;
      }
    }

    .small & {
      grid-template-columns: 1fr 1fr;
    }

    .wap-details & {
      @include for-small-layout {
        grid-template-columns: 1fr 1fr;
      }
    }

  }

  &-gallery {
    .imgs-container {
      display: grid;
      margin-bottom: em(25px);
      /* grid-template-columns: repeat(6, 1fr); */
      grid-template-columns: repeat(2, 1fr);
      padding: 0 em(40px);
      gap: 1.2rem;
      padding-top: 2em;

      .small & {
        grid-template-columns: repeat(3, 1fr);
      }

      .wap-details & {
        @include for-small-layout {
          grid-template-columns: repeat(3, 1fr);
        }
      }


      img {
        display: block;
        width: 100%;
      }
    }

  }

  &-pricing {
    font-family: Rubik-Regular, sans-serif;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: rem(15px);
    margin: em(48px) auto;
    display: grid;
    margin: 0 auto;

    .small & {
      grid-template-columns: repeat(2, 1fr);
      margin: em(48px) auto;
    }

    .wap-details & {
      @include for-small-layout {
        grid-template-columns: repeat(2, 1fr);
        margin: em(48px) auto;
      }
    }

    .card-heading {
      color: #cf711f;
      font-weight: 600;
      font-size: em(18px);
      text-transform: uppercase;
      letter-spacing: 0.75;
    }

    .card-subheading {
      font-size: em(16px);
      line-height: 1.6;
      color: #6f6f6f;
      margin-block-end: em(24px);
    }

    .card-price {
      font-size: em(36px);
      font-weight: 600;
      color: #333;

      span {
        font-size: em(36px);
        font-weight: 500;
        margin-right: em(4px);
      }
    }

    &-starter,
    &-complete {
      border-radius: 11px;
      width: 85%;
    }

    &-starter {
      border: 2px solid #fdf2e9;
      padding: em(64px);
    }

    &-complete {
      background-color: #fdf2e9;
      padding: em(60px);
      position: relative;
      overflow: hidden;

      &::after {
        content: 'Best value';

        position: absolute;
        top: 5%;
        right: -11%;
        text-transform: uppercase;
        font-size: 0.875em;
        font-weight: 700;
        color: #333;
        background-color: #ffd43b;
        padding: 0.5em 3.5em;
        transform: rotate(45deg);
      }
    }
  }

  &-footer {
    font-family: Rubik-Regular, sans-serif;
    padding: em(48px) em(40px);
    border-top: 1px solid #eee;


    .footer-inner {
      h3 {
        font-family: Rubik-Medium, sans-serif;
      }

      margin-block-end: rem(12px);

      .row {
        max-width: rem(250px);

        p {
          margin-block-end: rem(8px);
        }
      }

      h3 {
        margin-top: em(25px);
        margin-bottom: em(10px);
      }

      .small & {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .wap-details & {
        @include for-small-layout {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    .logo {
      height: em(18px);
      margin-right: rem(15px);
      margin-top: rem(5px);
    }
  }

}