.omnifood {
  &-header {
    background-color: #fdf2e9;
    height: em(96px);
    position: relative;

    .logo {
      height: em(22px);
    }
  }

  &-nav {
    .nav-link {
      margin-inline-end: rem(20px);
      font-weight: 500;
      font-size: em(18px);

      a {
        font-family: Rubik-Bold, sans-serif;
        text-decoration: none;
        color: #333;

        &:hover {
          color: #cf711f;
        }
      }

      transition: all 0.3s;
    }

    .nav-link:last-child {
      padding: em(12px) em(25px);
      border-radius: 9px;
      background-color: #e67e22;

      a {
        color: #fff;
      }

      &:hover {
        background-color: #cf711f;
      }
    }
  }

  &-hero {
    background-color: #fdf2e9;
    padding: em(48px) 0 em(64px) 0;
    font-family: Rubik-Medium, sans-serif;

    .hero-inner {
      max-width: em(1300px);
      margin: 0 auto;
      padding: 0 3.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 9.6rem;
      align-items: center;

      .text-box {
        .heading {
          font-size: em(52px);
          line-height: 1.05;
          margin-bottom: em(24px);
          font-weight: 700;
          color: #333;
          letter-spacing: -0.5px;
        }

        .sub-heading {
          font-size: em(20px);
          line-height: 1.6;
          margin-bottom: em(24px);
        }

        .btn1,
        .btn2 {
          display: inline-block;
          text-decoration: none;
          font-size: em(18px);
          font-weight: 500;
          padding: em(10px) em(18px);
          border-radius: 9px;
          border: none;
          cursor: pointer;
          font-family: inherit;
          transition: all 0.3s;
        }
        .btn1 {
          background-color: #e67e22;
          color: #fff;
          margin-inline-end: rem(12px);

          &:hover {
            background-color: #cf711f;
          }
        }

        .btn2 {
          background-color: #fff;
          color: #555;

          &:hover {
            background-color: #fdf2e9;
            box-shadow: inset 0 0 0 3px #fff;
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }

  &-brand {
    font-family: Rubik-Regular, sans-serif;
    padding: em(24px) 0;

    .title {
      font-size: em(14px);
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: rem(24px);
      color: #888;
    }

    .imgs-container {
      display: flex;
      justify-content: space-between;

      img {
        height: em(32px);
        filter: brightness(0);
        opacity: 50%;
      }
    }
  }

  &-meals {
    font-family: Rubik-Regular, sans-serif;
    padding: em(96px) 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: em(1200px);
    margin: 0 auto;
    gap: rem(48px);
  }

  &-meal {
    box-shadow: 0 em(12px) em(24px) rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-1.2rem);
      box-shadow: 0 em(24px) em(48px) rgba(0, 0, 0, 0.06);
    }

    &-list {
      .heading {
        font-weight: 700;
        color: #333;
        letter-spacing: -0.5px;
        font-size: em(30px);
        line-height: 1.2;
        margin-bottom: em(24px);
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: em(16px);
      }
    }
    .card {
      &-content {
        padding: em(48px);
        padding-top: rem(32px);
      }

      &-heading {
        font-size: em(24px);
        color: #333;
        font-weight: 600;
        margin-bottom: em(32px);
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: em(2px);
      }

      &-img {
        width: 100%;
      }
    }
  }

  &-txt {
    grid-column: 1 / -1;
    font-family: Rubik-Bold, sans-serif;

    .text1 {
      display: block;
      font-size: em(16px);
      font-weight: 500;
      color: #cf711f;
      text-transform: uppercase;
      margin-bottom: em(16px);
      letter-spacing: 0.75px;
    }

    .text2 {
      font-family: Rubik-Medium, sans-serif;
      margin-top: 0;
      margin-bottom: 0.5em;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }

  &-reviews {
    font-family: Rubik-Regular, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: em(48px);
    column-gap: em(80px);
    padding: em(24px) 0;

    .wap-review {
      img {
        width: em(86px);
        border-radius: 50%;
        margin-bottom: em(12px);
      }

      &-text {
        font-size: em(18px);
        line-height: 1.8;
        margin-bottom: em(16px);
      }

      &-author {
        font-size: em(16px);
        color: #6f6f6f;
      }
    }
  }

  &-pricing {
    font-family: Rubik-Regular, sans-serif;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    row-gap: em(36px);
    column-gap: em(64px);
    margin: 0 auto;
    margin: em(48px) auto;

    .card-heading {
      color: #cf711f;
      font-weight: 600;
      font-size: em(18px);
      text-transform: uppercase;
      letter-spacing: 0.75;
    }

    .card-subheading {
      font-size: em(16px);
      line-height: 1.6;
      color: #6f6f6f;
      margin-block-end: em(24px);
    }

    .card-price {
      font-size: em(36px);
      font-weight: 600;
      color: #333;
      // margin-bottom: em(12px);

      span {
        font-size: em(36px);
        font-weight: 500;
        margin-right: em(4px);
      }
    }

    &-starter,
    &-complete {
      border-radius: 11px;
      width: 85%;
    }

    &-starter {
      justify-self: end;
      border: 2px solid #fdf2e9;
      padding: em(64px);
    }

    &-complete {
      background-color: #fdf2e9;
      padding: em(60px);
      position: relative;
      overflow: hidden;

      &::after {
        content: 'Best value';
        position: absolute;
        top: 6%;
        right: -14%;

        text-transform: uppercase;
        font-size: em(14px);
        font-weight: 700;
        color: #333;
        background-color: #ffd43b;
        padding: em(8px) em(8px);
        transform: rotate(45deg);
      }
    }
  }
}
