.omnifood {
  &-header {
    background-color: #fdf2e9;
    height: rem(96px);
    position: relative;

    .logo {
      height: rem(22px);
    }
  }

  &-nav {
    .nav-link {
      margin-inline-end: rem(20px);
      font-weight: 500;
      font-size: rem(18px);

      a {
        font-family: Rubik-Bold, sans-serif;
        text-decoration: none;
        color: #333;

        &:hover {
          color: #cf711f;
        }
      }

      transition: all 0.3s;
    }

    .nav-link:last-child {
      padding: 1.2rem 2.5rem;
      border-radius: 9px;
      background-color: #e67e22;

      a {
        color: #fff;
      }

      &:hover {
        background-color: #cf711f;
      }
    }
  }

  &-hero {
    background-color: #fdf2e9;
    padding: rem(48px) 0 rem(64px) 0;
    font-family: Rubik-Medium, sans-serif;

    .hero-inner {
      // max-width: 130rem;
      // margin: 0 auto;
      padding: 0 3.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 9.6rem;
      align-items: center;

      .text-box {
        font-size: rem(20px);
        line-height: 1.6;
        margin-bottom: 4.8rem;
      }

      img {
        width: 100%;
      }
    }
  }

  &-brand {
    .title {
      font-size: rem(14px);
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: 500;
      text-align: center;
      margin-bottom: rem(24px);
      color: #888;
    }

    .imgs-container {
      display: flex;
      justify-content: space-around;

      img {
        height: rem(32px);
        filter: brightness(0);
        opacity: 50%;
      }
    }
  }

  &-meals {
    padding: rem(96px) 0;
  }

  &-meal {
    box-shadow: 0 rem(12px) rem(24px) rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-1.2rem);
      box-shadow: 0 rem(24px) rem(48px) rgba(0, 0, 0, 0.06);
    }

    .card {
      &-content {
        padding: rem(48px);
        padding-top: rem(32px);
      }

      &-heading {
        font-size: rem(24px);
        color: #333;
        font-weight: 600;
        margin-bottom: rem(32px);
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}
