.yoga {
    &-header {
        font-family: Nunito-bold;
        padding: rem(30px);

    }

    &-nav {
        font-family: Nunito-regular;

        a{
            margin-right: rem(15px);
        
        }
    }

    &-hero {
        background-image: url("https://static.wixstatic.com/media/82fcd3_f9996d378dd1441e8308f71819f498f3~mv2_d_5508_2954_s_4_2.jpg/v1/fill/w_1743,h_827,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/82fcd3_f9996d378dd1441e8308f71819f498f3~mv2_d_5508_2954_s_4_2.jpg");
        height: 90vh;
        background-position: 50% 50%;
        vertical-align: middle;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: em(15px);
        margin-bottom: rem(45px);

        .hero-inner {
            display: flex;

            .text-box {
                font-size: rem(35px);
                font-family: Nunito-regular;
            }
        }
    }

    &-container {
        margin-bottom: rem(300px);
        .wap-container__inner {
            display: grid;
            gap: rem(25px);
            grid-template-columns: 1fr 1fr 1fr;
        }

    }

    &-card {
        height: 250px;
    }

    .cake-card {
        display: flex;
        flex-direction: column;
        border-radius: rem(18px);
        padding: rem(25px);

        .card-content{
            margin-top: rem(35px);
        }
    }

    &-contact {
        .form-container {
            justify-content: center;
            display: flex;

            input,
            textarea {
                display: flex;
                margin-bottom: rem(15px);
                width: rem(450px);
                height: rem(35px);
                font-size: rem(18px);
                border: 1px solid $dark-color;
                border-radius: rem(4px);
                flex-direction: column;
            }

            textarea {
                height: rem(150px);
            }

        }


    }
}