.betaa {
    &-header {
        background-color: #5D21D1;

        .wap-header__inner {

            .wap-nav .nav-bar .nav-link a {
                color: $light-color;
                font-family: Nunito-regular;
                margin-inline-end: em(20px);
            }
        }
    }

    &-hero {
        background-color: #5D21D1;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
        margin-top: em(-1px);
        padding-top: em(162px);

        .hero-inner {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .text-box {
                width: 50%;
                padding-right: rem(41px);

                .heading {
                    font-size: rem(48px);
                    color: $light-color;
                    font-family: NotoSans-bold;
                    line-height: em(18px);
                    margin-block-end: em(8px);
                }

                .sub-heading {
                    margin-block-end: em(10px);
                    color: $light-color;
                    font-size: em(22px);
                    font-family: NotoSans-light;
                    margin-block-end: rem(52px);
                }

                .btns {
                    a {
                        background-color: rgb(43, 43, 172);
                        padding: em(16px) em(30px);
                        margin-inline-end: em(10px);
                        font-family: Nunito-bold;
                        color: #3AE2D3;
                        font-size: em(16px);
                        border-radius: em(10px);
                        background-color: transparent;
                        border: 1px solid #3AE2D3;

                        .wap-details &:hover {
                            background-color: #3AE2D3;
                            color: #5D21D1;
                        }

                        .wap-details &:hover:not(:last-of-type) {
                            background-color: transparent;
                            color: #3AE2D3;
                        }

                        &:not(:last-child) {
                            background-color: #3AE2D3;
                            color: #5D21D1;
                        }
                    }
                }
            }
        }
    }

    &-txt {
        // background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 rem(235px);

        .tag {
            text-align: center;
            background-color: #f7f4fd;
            margin-top: rem(50px);
            font-weight: 700;
            font-size: rem(16px);
            margin-bottom: rem(10px);
            color: #763de7;
            width: max-content;
            padding: 0.8rem;
            border-radius: rem(22px);
            text-transform: uppercase;
        }

        .text1 {
            text-align: center;
            font-family: NotoSans-bold;
            font-size: rem(36px);
        }

        .text2 {
            text-align: center;
            font-family: Nunito-light;
            color: $dark-color5;
        }
    }

    &-container.betaa-features {

        display: flex;
        .wap-card {
            background-color: #f1f3ff;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: fit-content;
            padding-top: rem(42px);
            margin: 20px;
            border-radius: rem(20px);
            max-height: min-content;

            .card-img {
                max-width: 180px;
                margin-block-end: rem(16px);
            }

            .card-content {
                text-align: center;

                .card-heading {
                    font-size: rem(28px);
                    margin-block-end: rem(5px);
                }

                .card-subheading {
                    margin: 0;
                    font-size: rem(18px);
                    font-family: Nunito-light;
                }
            }
        }
    }
}