.betaa {
    &-header {
        // background-color: blue;
        position: absolute;
        top: 0;
        left: 0;
        // display: flex;
        

        .wap-header__inner {
            // width: 100%;
            background-color: yellow;
        }
    }


    &-hero {
        background-color: #5D21D1;
        // background-image: url("https://i.ibb.co/pWKss5w/hero.png");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;

        .hero-inner {
            // background-color: brown;
            display: flex;
            justify-content: start;
            align-items: center;

            .text-box {
                // background-color: yellow;
                width: 50%;

                .heading {
                    font-size: rem(48px);
                    color: $light-color;
                }

                .sub-heading {
                    margin-block-end: em(10px);
                    color: $light-color;
                }
                
                .btns {
                    a {
                        background-color: rgb(43, 43, 172);
                        padding: em(10px) em(30px);
                        margin-inline-end: em(10px);
                    }
                }

            }
        }
        img {
            min-width: 100vw;
        }
    }
}

