// SETUP
@import 'setup/typography';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/variables';

// BASE
@import 'basic/base';
@import 'basic/helpers';
@import 'basic/spacing';
@import 'basic/layout';

// Components
@import './cmps/home';
@import './cmps/app-header';
@import './cmps/editor';
@import './cmps/wap-list';
@import './cmps/login';
@import './cmps/tool-bar';
@import './cmps/color-picker';
@import './cmps/theme-preview';

// Templates
@import './templates/header';
@import './templates/omnifood';
@import './templates/betaa';
@import './templates/making-diff';
