// SETUP
@import 'setup/typography';
@import 'setup/functions';
@import 'setup/mixins';
@import 'setup/variables';

// BASE
@import 'basic/base';
@import 'basic/helpers';
@import 'basic/spacing';
@import 'basic/layout';

// Templates
@import './templates/header';
@import './templates/omnifood';
@import './templates/betaa';
@import './templates/making-diff';
@import './templates/design';
@import './templates/cake';
@import './templates/yoga';

// Components
@import './cmps/home';
@import './cmps/hero';
@import './cmps/app-header';
@import './cmps/editor';
@import './cmps/wap-list';
@import './cmps/login';
@import './cmps/signup';
@import './cmps/tool-bar';
@import './cmps/color-picker';
@import './cmps/theme-preview';
@import './cmps/wrapper';
@import './cmps/dashboard';
@import './cmps/notifications';
@import './cmps/thank-you';
@import './cmps/screen';
